<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:hftl="http://hftl.org"
				xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml"
>

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="genericWorkflowId" value="#{genericWorkflowBean.objectId}" />
			 <f:viewParam name="tab" value="#{genericWorkflowBean.activeTab}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.admin']}" disabled="true" />
				<p:menuitem outcome="genericWorkflows"
					value="#{messages['menu.generic.workflows']}" />
				<p:menuitem value="#{messages['generic.wf.new']}" disabled="true"
					rendered="#{genericWorkflowBean.entity.transient}" />
				<p:menuitem value="#{messages['generic.wf.editView']} - #{genericWorkflowBean.entity.descriptionOrCode}"
					disabled="true" rendered="#{!genericWorkflowBean.entity.transient}" />
			</p:breadCrumb>
		</h:form>

		<hftl:entityPopup id="actionScriptPopup"
			header="#{messages['scriptInstance.title']}"
			backingBean="#{scriptInstanceBean}"
			searchField1Label="#{messages['BusinessEntity.code']}"
			searchField1="code" column1Label="#{messages['BusinessEntity.code']}"
			column1="code"
			selection="#{genericWorkflowBean.gWFTransition.actionScript}"
			column2Label="#{messages['BusinessEntity.description']}"
			column2="description"
			updateField=":genericWFFormId:tabView:formDunningPlanTransition:scriptSelectId
						 :genericWFFormId:tabView:formDunningPlanTransition:scriptSelectId_text">
		</hftl:entityPopup>

		<hftl:formPanel formId="genericWFFormId" backingBean="#{genericWorkflowBean}"
						showEnableDisableButton="true">
			<p:tabView id="tabView" activeIndex="#{genericWorkflowBean.activeTab}">
				<p:tab title="#{messages['generic.wf.title']}">

						<hftl:formField label="#{messages['businessEntity.code']}"
							field="code" allowEdit="false" required="true"
							validateUnique="true" />

						<hftl:formField label="#{messages['businessEntity.description']}"
							field="description" useConverter="false" size="50" />

						<hftl:formField
							label="#{messages['generic.wf.targetEntityClass']}"
							field="targetEntityClass" allowEdit="false" required="true"
							size="60" autocompleteBean="#{genericWorkflowBean}"
							autocompleteMethod="autocompleteClassNames" isAutocomplete="true" 
							listenerUpdate="targetCetCodeField targetEntityFilterPanel" />

						<h:panelGroup id="targetEntityFilterPanel">
							<hftl:decorateFormField fieldId="targetEntityFilter"  label="#{messages['filter.title']}" valueLabelField="code">
								<p:selectOneMenu id="targetEntityFilter" value="#{genericWorkflowBean.selectedFilter}" rendered="#{genericWorkflowBean.entity.id == null}"  required="false" converter="omnifaces.SelectItemsConverter" >
									<f:selectItem itemLabel="" />
									<f:selectItems value="#{genericWorkflowBean.listFilterTargetEntity()}" var="elem" itemLabel="#{elem.code}" itemValue="#{elem}" />
								</p:selectOneMenu>
								<h:outputText value="#{genericWorkflowBean.entity.filter.code}" rendered="#{genericWorkflowBean.entity.id!=null}" />
							</hftl:decorateFormField>
						</h:panelGroup>



						<hftl:formField label="#{messages['workflow.enableHistory']}"
							field="enableHistory" />

						<hftl:formField label="#{messages['enableEntity.disabled']}"
							doNotShowOnNew="true" allowEdit="false" field="disabled"
							isMessage="true" newLine="true" />
                        
                        <h:panelGroup id="targetCetCodeField">
	                        <hftl:formField label="#{messages['generic.wf.targetCetCode']}" field="targetCetCode" required="true" size="90" maxlength="255"
                               isAutocomplete="true"
                               autocompleteBean="#{genericWorkflowBean}"
                               autocompleteMethod="autocompleteCET"
                               newLine="true" componentWidth="100"
                               allowEdit="false"
                               rendered="#{genericWorkflowBean.entity.targetEntityClass == 'org.meveo.model.customEntities.CustomEntityInstance'}" />
                        </h:panelGroup>
                        
                        <hftl:formField label="#{messages['generic.wf.initStatus']}" field="initStatus" isMessage="true" newLine="true"
                             listValues="#{genericWorkflowBean.transitionStatuses}"
                             required="true"
                             rendered="${!empty(genericWorkflowBean.transitionStatuses)}" />

						<h:panelGroup>
							<p:dataTable id="wfStatusTable"
								value="#{genericWorkflowBean.entity.statuses}" var="wfStatus"
								paginator="false" resizableColumns="true">
								<f:facet name="header">#{messages['wfStatus.list']}</f:facet>
								<p:column headerText="#{messages['businessEntity.code']}">
									<h:outputText value="#{wfStatus.code}" />
								</p:column>
								<p:column headerText="#{messages['businessEntity.description']}">
									<h:outputText value="#{wfStatus.description}" />
								</p:column>
								<p:column width="60px;"
									headerText="#{messages['commons.actions']}">
									<p:commandButton
										action="#{genericWorkflowBean.selectWFStatus(wfStatus)}"
										update=":genericWFFormId:tabView:wfStatusDetails" process="@this"
										icon="ui-icon-document" immediate="true" />
									<p:commandButton
										action="#{genericWorkflowBean.deleteWFStatus(wfStatus)}"
										icon="ui-icon-trash" update="@form" process="@this"/>
								</p:column>
							</p:dataTable>
							<p:commandButton value="#{messages['commons.addNew']}"
								update=":genericWFFormId:tabView:wfStatusDetails"
								action="#{genericWorkflowBean.newWFStatus}"
								process="@this">
							</p:commandButton>
						</h:panelGroup>
						<h:panelGroup id="wfStatusDetails">
							<p:panel header="#{messages['wfStatus']}"
								rendered="#{genericWorkflowBean.selectedWFStatus != null}">
								<p:outputPanel
									styleClass="form-panel-fields #{genericWorkflowBean.edit ? '' : ' form-panel-fields-view'}">
									<hftl:decorateFormField
										label="#{messages['businessEntity.code']}" fieldId="stCode">
										<p:inputText id="stCode"
											value="#{genericWorkflowBean.selectedWFStatus.code}">
										</p:inputText>
									</hftl:decorateFormField>
									<hftl:decorateFormField
										label="#{messages['businessEntity.description']}"
										fieldId="stDescription">
										<p:inputText id="stDescription"
											value="#{genericWorkflowBean.selectedWFStatus.description}">
										</p:inputText>
									</hftl:decorateFormField>
								</p:outputPanel>
								<h:panelGroup layout="block" styleClass="form-panel-actions">
									<p:commandButton
										action="#{genericWorkflowBean.saveOrUpdateWFStatus}"
										value="#{messages['action.save']}"
										update="@form :genericWFFormId:tabView:wfStatusTable" process="@form"/>
									<p:commandButton action="#{genericWorkflowBean.resetWFStatus}"
										value="#{messages['action.cancel']}"
										update="@form :genericWFFormId:tabView:wfStatusTable"
										immediate="true" process="@this"/>
								</h:panelGroup>
							</p:panel>
						</h:panelGroup>
				</p:tab>
				
				<p:tab title="#{messages['dunningPlan.transitions']}" id="tab2" rendered="#{!genericWorkflowBean.entity.isTransient()}">
                    <p:outputPanel id="dunningPlanTransition_panel">
                        <p:messages id="messages" rendered="#{!genericWorkflowBean.showDetailPage}" />
                        <hftl:dataList backingBean="#{gWFTransitionBean}" dataModel="#{genericWorkflowBean.entity.transitions}" sortBy="fromStatus"
                            resultsId="dunningPlanTransitions_results" exportXlsxButton="false">
                            <hftl:column label="#{messages['dunningPlanTransition.fromStatus']}" field="fromStatus" />
                            <hftl:column label="#{messages['dunningPlanTransition.toStatus']}" field="toStatus" />
                            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
                            <hftl:column label="#{messages['dunningPlan.conditionEl']}" field="conditionEl" />
                            <hftl:column label="#{messages['generic.wf.actionScript']}" field="actionScript.code" />

                            <p:column styleClass="actions-column" rendered="#{genericWorkflowBean.edit}">
                                <f:facet name="header">
                                    <h:outputText value="#{messages['commons.actions']}" />
                                </f:facet>

								<p:commandButton id="editDunningPlanTransitionLink" update=":genericWFFormId:tabView:dunningPlanTransition_panel"
									 action="#{genericWorkflowBean.editgWFTransition(entity)}"
                                    icon="ui-icon-document" process="@this"/>
                                <p:commandButton id="duplicateDunningPlanTransitionLink" update=":genericWFFormId:tabView:dunningPlanTransition_panel"
									 action="#{genericWorkflowBean.duplicateWfTransition(entity)}"
                                    icon="ui-icon-plus" process="@this"/>
                                <p:commandButton id="deleteDunningPlanTransitionLink" action="#{genericWorkflowBean.deleteWfTransition(entity)}" icon="ui-icon-trash"
												 update=":genericWFFormId:tabView:dunningPlanTransition_panel" process="@this"/>
                                <p:commandButton id="moveUpTransitionLink" icon="ui-icon-arrowthick-1-n" action="#{genericWorkflowBean.moveUpTransition(entity)}"
                                    update=":genericWFFormId:tabView:dunningPlanTransition_panel" process="@this"/>
                                <p:commandButton id="moveDownTransitionLink" icon="ui-icon-arrowthick-1-s" action="#{genericWorkflowBean.moveDownTransition(entity)}"
                                    update=":genericWFFormId:tabView:dunningPlanTransition_panel" process="@this" />
                            </p:column>

                        </hftl:dataList>
                        <p:panel styleClass="clearLeft">
                            <hftl:decorateFormField fieldId="addTransition">
                                <p:commandButton id="addTransition" rendered="#{!genericWorkflowBean.showDetailPage}" action="#{genericWorkflowBean.newTransition}"
                                    value="#{messages['dunningPlanTransition.addNew']}"
									 update=":genericWFFormId:tabView:dunningPlanTransition_panel,:genericWFFormId:tabView:formDunningPlanTransition"
									 process="@this"/>
                            </hftl:decorateFormField>
                        </p:panel>
                        <p:panel rendered="#{genericWorkflowBean.showDetailPage}">
                            <hftl:formPanel formId="formDunningPlanTransition" edit="#{genericWorkflowBean.edit}" label="" backingBean="#{gWFTransitionBean}"
                                entity="#{genericWorkflowBean.gWFTransition}" showFormButtons="false" ajaxSubmit="true">
                                <p:panel styleClass="clearLeft">
                                    <hftl:formField label="#{messages['dunningPlanTransition.fromStatus']}" field="fromStatus" required="false" isMessage="true"
                                        edit="#{genericWorkflowBean.edit}" listValues="#{genericWorkflowBean.transitionStatuses}" />

                                    <hftl:formField label="#{messages['dunningPlanTransition.toStatus']}" field="toStatus" required="true" isMessage="true"
                                        edit="#{genericWorkflowBean.edit}" listValues="#{genericWorkflowBean.transitionStatuses}" />

                                    <hftl:formField label="#{messages['dunningPlan.conditionEl']}" field="conditionEl" textArea="true" rows="1" maxlength="2000"
                                        edit="#{genericWorkflowBean.edit}" required="true" />

                                    <hftl:formField label="#{messages['transition.description']}" field="description" required="true" edit="#{genericWorkflowBean.edit}" />

                                    <hftl:formField
                                    	id="scriptSelectId" label="#{messages['generic.wf.actionScript']}" field="actionScript" valueLabelField="code" popup="true" 
                                    	showResetButton="true" popupId="actionScriptPopup" edit="#{genericWorkflowBean.edit}" required="false" />
                                </p:panel>

                                <ui:param name="buttons" value="true" />
                                <p:panel id="buttons">
                                    <p:commandButton action="#{genericWorkflowBean.saveWfTransition}" value="#{messages['action.save']}" process="@form" update=":genericWFFormId:tabView:dunningPlanTransition_panel" />
                                    <p:commandButton action="#{genericWorkflowBean.cancelTransitionDetail}" value="#{messages['action.cancel']}" process="@this"
                                        update=":genericWFFormId:tabView:dunningPlanTransition_panel" />
                                </p:panel>
                            </hftl:formPanel>
                        </p:panel>
                    </p:outputPanel>
                </p:tab>
                <hftl:customFields backingBean="#{genericWorkflowBean}"/>
			</p:tabView>
		</hftl:formPanel>
	</ui:define>

</ui:composition>