<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml"
                xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{invoiceBean.objectId}"/>
            <f:viewParam name="tab" value="#{invoiceBean.activeTab}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.invoicing']}" disabled="true"/>
                <p:menuitem outcome="invoices" value="#{messages['menu.invoices']}"/>
                <p:menuitem value="#{messages['commons.new']} #{messages['invoice']}" disabled="true" rendered="#{invoiceBean.getEntity().transient}"/>
                <p:menuitem value="#{messages['invoice']} - #{invoiceBean.getEntity().invoiceNumberOrTemporaryNumber}" disabled="true" rendered="#{!invoiceBean.getEntity().transient}"/>
            </p:breadCrumb>
        </h:form>

        <c:set var="datePattern" value="#{paramBean.dateFormat}"/>

        <p:panel>

            <hftl:formPanel label="#{messages['invoice.panel']} #{invoiceBean.getEntity().invoiceType.description}" backingBean="#{invoiceBean}" showFormButtons="false"
                            formId="headerForm" edit="false">
                <p:tabView id="tabView" activeIndex="#{invoiceBean.activeTab}">
                    <p:tab title="#{messages['customer.tab.information']}">
                        <p:outputPanel>
                            <h:panelGrid columns="2">
                                <p:fieldset legend="#{messages['invoice.header']}">
                                    <h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="formFieldGroup" style="width:25%;">
                                            <p:outputLabel for="billingAccountDetailLnk" style="width:60%;" value="#{messages['invoice.billingAccount']}"/>
                                            <h:panelGroup layout="block" styleClass="#{displayOneLine?'formFieldItem':'formFieldItem2Lines'} #{inputStyleClass}"
                                                          style="width:#{inputWidth}%;  #{inputStyle}">
                                                <h:link id="billingAccountDetailLnk" value="#{invoiceBean.getEntity().billingAccount.code}" outcome="billingAccountDetailFromInvoice"
                                                        styleClass="field-value" includeViewParams="true">
                                                    <f:param name="cid" value="#{javax.enterprise.context.conversation.id}"></f:param>
                                                    <f:param name="billingAccountId" value="#{invoiceBean.getEntity().billingAccount.id}"></f:param>
                                                    <f:param name="customerAccountId" value="#{invoiceBean.getEntity().billingAccount.customerAccount.id}"></f:param>
                                                    <f:param name="customerId" value="#{invoiceBean.getEntity().billingAccount.customerAccount.customer.id}"></f:param>
                                                    <f:param name="mainTab" value="2"></f:param>
                                                    <f:param name="tab" value="0"></f:param>
                                                </h:link>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                        <!-- 						<hftl:formField label="#{messages['invoice.billingAccount']}" -->
                                        <!-- 							field="billingAccount" valueLabelField="code" popup="false" -->
                                        <!-- 							popupId="searchBillingAccountPopup" showResetButton="true" /> -->
										<hftl:decorateFormField label="#{messages['invoice.invoiceNumber']}">
											<h:outputText value="#{invoiceBean.entity.invoiceNumberOrTemporaryNumber}" styleClass="field-value" />
										</hftl:decorateFormField>
                                        <hftl:formField label="#{messages['invoice.invoiceDate']}" field="invoiceDate"/>
                                        <hftl:formField label="#{messages['invoice.dueDate']}" field="dueDate" />
                                        <hftl:formField label="#{messages['invoice.iban']}" field="iban"/>
                                        <hftl:formField label="#{messages['invoice.alias']}" field="alias"/>
                                        <hftl:formField label="#{messages['invoice.comment']}" field="comment" textArea="true"/>
                                        <hftl:formField label="#{messages['invoice.paymentMethod']}" field="paymentMethod" isMessage="true"/>
                                        <hftl:formField label="#{messages['invoice.alreadySent']}" field="alreadySent" isMessage="true"/>
                                        <hftl:formField label="#{messages['invoice.dontSend']}" field="dontSend" isMessage="true"/>
                                        <hftl:formField label="#{messages['billingRun.panel']}" field="billingRun" />
                                    </h:panelGroup>
                                </p:fieldset>
                                <h:panelGroup id="attachments">
                                    <p:fieldset legend="#{messages['invoice.attachments']}"
                                                rendered="#{invoiceBean.pdfInvoiceAlreadyGenerated or invoiceBean.xmlInvoiceAlreadyGenerated}">
                                        <p:panelGrid columns="1">
                                            <p:outputPanel rendered="#{invoiceBean.pdfInvoiceAlreadyGenerated}">
                                                <h:commandLink action="#{invoiceBean.downloadPdfInvoice()}">
                                                    <h:outputText value="#{invoiceBean.getEntity().pdfFilenameOnly}"/>
                                                </h:commandLink>
                                                <p:spacer width="10"/>
                                                <p:commandButton icon="ui-icon-close" action="#{invoiceBean.deletePdfInvoice}"
                                                                 update=":headerForm:messages :headerForm:tabView:attachments :headerForm:tabView:buttonGenerate"/>
                                            </p:outputPanel>
                                            <p:outputPanel rendered="#{invoiceBean.xmlInvoiceAlreadyGenerated}">
                                                <h:commandLink action="#{invoiceBean.downloadXmlInvoice()}">
                                                    <h:outputText value="#{invoiceBean.getEntity().xmlFilenameOnly}"/>
                                                </h:commandLink>
                                                <p:spacer width="10"/>
                                                <p:commandButton icon="ui-icon-close" action="#{invoiceBean.deleteXmlInvoice}"
                                                                 update=":headerForm:messages :headerForm:tabView:attachments :headerForm:tabView:buttonGenerate"/>
                                            </p:outputPanel>
                                        </p:panelGrid>
                                    </p:fieldset>
                                </h:panelGroup>
                            </h:panelGrid>
                        </p:outputPanel>

                        <p:fieldset legend="#{messages['invoice.discounts']}" style="width:60%" rendered="#{invoiceBean.discountAggregates.size()>0}">

                            <p:dataTable id="invoiceAgregats" var="agregate" value="#{invoiceBean.discountAggregates}" resizableColumns="true">
                                <p:column headerText="#{messages['discountPlan.title']}">
                                    <h:outputText value="#{agregate.discountPlanCode}"/>
                                </p:column>
                                <p:column headerText="#{messages['discountPlan.discountAmountWithoutTax']}">
                                    <h:outputText value="#{agregate.amountWithoutTax}" converter="#{getConverter.forType(agregate.amountWithoutTax,'4digits')}"/>
                                </p:column>
                                <p:column headerText="#{messages['discountPlan.discountAmountWithTax']}">
                                    <h:outputText value="#{agregate.amountWithTax}" converter="#{getConverter.forType(agregate.amountWithTax,'4digits')}"/>
                                </p:column>
                                <p:column headerText="#{messages['discountPlanItem.percent']}">
                                    <h:outputText value="#{agregate.discountPercent}" converter="#{getConverter.forType(agregate.discountPercent,'4digits')}"/>
                                </p:column>
                                <p:column headerText="#{messages['discountPlanItem.title']}">
                                    <h:outputText value="#{agregate.discountPlanItemCode}"/>
                                </p:column>
                                <p:column headerText="#{messages['discountPlanItem.invoiceSubCategory']}">
                                    <h:outputText value="#{agregate.invoiceSubCategory.code}"/>
                                </p:column>

                            </p:dataTable>
                        </p:fieldset>


                        <p:fieldset legend="#{messages['invoice.details']}">
                        	<p:panel>
                        		<f:facet name="header">#{messages['invoice.cat.subcat.ratedTransaction']}</f:facet>
                        		<p:panelGrid columns="1" layout="grid">	                        
		                        	<p:repeat value="#{invoiceBean.invoiceCategories}" var="cat">
		                        		<p:row>
		                        			<p:column>
		                        				<h4>#{cat.description}</h4>
		                        					<p:accordionPanel var="subCat" value="#{cat.invoiceSubCategoryDTOList}" activeIndex="null">
			                        					<p:tab>
			                                                <f:facet name="title">
			                                                    <h:outputText value="#{subCat.description}"/>
			                                                </f:facet>
			                                                
			                                                <p:panelGrid styleClass="custom-grid">
														        <p:row>
														            <p:column>#{messages['invoice.amountWithoutTax']}</p:column>
														            <p:column>#{messages['invoice.amountWithTax']}</p:column>
														        </p:row>
						                                    	<p:row>
							                                    	<p:column>
																		<h:outputText value="#{subCat.amountWithoutTax}" styleClass="field-value">
																			<f:converter converterId="bigDecimal4DigitsConverter" />
																		</h:outputText>
																	</p:column>
																	<p:column>
																		<h:outputText value="#{subCat.amountWithTax}" styleClass="field-value">
																			<f:converter converterId="bigDecimal4DigitsConverter" />
																		</h:outputText>
																	</p:column>
																</p:row>
					                                    	</p:panelGrid>
					                                    	
															<p:dataTable var="rated" resizableColumns="true" value="#{invoiceBean.getRatedTransactions(subCat)}" rows="30" lazy="true" rowKey="#{rated.id}" paginator="true" paginatorAlwaysVisible="false"
																paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="20,30,50,100">
																<p:column headerText="#{messages['ratedTransaction.usageDate']}">
																	<h:outputText value="#{rated.usageDate}">
																		<f:convertDateTime pattern="#{datePattern}" />
																	</h:outputText>
																</p:column>
																<p:column headerText="#{messages['subscription.offer']}">
																	<h:outputText value="#{not empty rated.offerTemplate ? rated.offerTemplate.code : ''}" />
																</p:column>
																<p:column headerText="#{messages['walletOperation.chargeInstance']}">
                                                                    <h:outputText value="#{rated.code}" />
<!-- 																	<ui:repeat value="#{ratedTransactionBean.getWalletOperationCodes(rated.getId())}" var="wo" varStatus="loop"> -->
<!-- 																	    #{wo}#{not loop.last ? ', ' : ''} -->
<!-- 																	</ui:repeat> -->
																</p:column>
																<p:column headerText="#{messages['pricePlan.panel']}">
																	<h:outputText value="#{rated.priceplan.code}" />
																</p:column>
																<p:column headerText="#{messages['pricePlanMatrix.amountWithoutTax']}">
																	<h:outputText value="#{rated.amountWithoutTax}" converter="bigDecimal4DigitsConverter" />
																</p:column>
																<p:column headerText="#{messages['walletOperation.amountTax']}">
																	<h:outputText value="#{rated.amountTax}" converter="bigDecimal4DigitsConverter" />
																</p:column>
																<p:column headerText="#{messages['pricePlanMatrix.amountWithTax']}">
																	<h:outputText value="#{rated.amountWithTax}" converter="bigDecimal4DigitsConverter" />
																</p:column>
																<p:column headerText="#{messages['serviceInstance.quantity']}" width="50">
																	<h:outputText value="#{rated.quantity}" converter="bigDecimal4DigitsConverter" />
																</p:column>
																<p:column headerText="#{messages['ratedTransaction.param1']}">
																	<h:outputText value="#{rated.parameter1}" />
																</p:column>
																<p:column headerText="#{messages['ratedTransaction.param2']}">
																	<h:outputText value="#{rated.parameter2}" />
																</p:column>
																<p:column headerText="#{messages['ratedTransaction.param3']}">
																	<h:outputText value="#{rated.parameter3}" />
																</p:column>
																<p:column headerText="#{messages['ratedTransaction.startDate']}">
																	<h:outputText value="#{rated.startDate}">
																		<f:convertDateTime pattern="#{datePattern}" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{messages['ratedTransaction.endDate']}">
                                                                    <h:outputText value="#{rated.endDate}">
                                                                        <f:convertDateTime pattern="#{datePattern}"/>
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{messages['order.number']}">
                                                                    <h:outputText value="#{rated.orderNumber}"/>
                                                                </p:column>
                                                            </p:dataTable>
													</p:tab>
		                        				</p:accordionPanel>
		                        			</p:column>
		                        		</p:row>
		                        	</p:repeat>
	                        	</p:panelGrid>
                        	</p:panel>
    						
                        </p:fieldset>


                        <p:fieldset legend="#{messages['invoice.totals']}">
                            <hftl:formField label="#{messages['invoice.amountWithoutTax']}" field="amountWithoutTax" converter="bigDecimal4DigitsConverter"/>
                            <hftl:formField label="#{messages['invoice.amountTax']}" field="amountTax" converter="bigDecimal4DigitsConverter"/>
                            <hftl:formField label="#{messages['invoice.amountWithTax']}" field="amountWithTax" converter="bigDecimal4DigitsConverter"/>
                            <hftl:decorateFormField fieldId="netTopayId" label="#{messages['invoice.netToPay']}">
                                <h:outputText id="netTopayId" value="#{invoiceBean.getEntity().netToPay}" styleClass="field-value"/>
                            </hftl:decorateFormField>
                        </p:fieldset>
                        <br/>
                        <p:outputPanel column="2" id="buttonGenerate">
                            <p:commandButton rendered="#{invoiceBean.generatePdfBtnActive}" value="#{messages['invoice.generatePdf']}" icon="ui-icon-refresh"
                                             disabled="#{invoiceBean.pdfInvoiceAlreadyGenerated}"
                                             action="#{invoiceBean.generatePdfInvoice()}" update=":headerForm:messages :headerForm:tabView:attachments buttonGenerate"/>
                            <p:commandButton rendered="#{invoiceBean.generateXmlBtnActive}" value="#{messages['invoice.generateXml']}" icon="ui-icon-refresh"
                                             disabled="#{invoiceBean.xmlInvoiceAlreadyGenerated}"
                                             action="#{invoiceBean.generateXmlInvoice}" update=":headerForm:messages :headerForm:tabView:attachments buttonGenerate"/>
                            <p:commandButton rendered="#{invoiceBean.sendByEmailBtnActive}" value="#{messages['invoice.sendByEmail']}" icon="ui-icon-send"
                                             disabled="#{!invoiceBean.pdfInvoiceAlreadyGenerated}"
                                             action="#{invoiceBean.sendInvoiceByEmail}" update=":headerForm:messages"/>
                        </p:outputPanel>

                        <p:fieldset legend="#{messages['invoice.linkedInvoices']}">

                            <p:dataTable var="entity" value="#{invoiceBean.linkedInvoices}" paginator="true" rows="10"
                                         paginatorTemplate="${prePaginatorControls} {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="10,20" lazy="false" resizableColumns="true" styleClass="custom-grid" rowKey="#{entity.id}" reflow="true"
                                         paginatorPosition="both">
                                <p:column headerText="#{messages['invoice.invoiceNumber']}">
                                    <h:link value="#{entity.invoiceNumber}" outcome="invoiceDetail">
                                        <f:param name="objectId" value="#{entity.id}"/>
                                        <f:param name="adjustedInvoiceIdParam" value="#{invoiceBean.getEntity().id}"/>
                                        <f:param name="detailedParam" value="#{entity.detailedInvoice}"/>
                                        <f:param name="edit" value="false"/>
                                        <f:param name="cid" value="#{javax.enterprise.context.conversation.id}"/>
                                    </h:link>
                                </p:column>
                                <hftl:column label="#{messages['invoice.invoiceDate']}" field="invoiceDate" isDate="true"/>
                                <hftl:column label="#{messages['invoice.dueDate']}" field="dueDate" isDate="true"/>
                            </p:dataTable>
                        </p:fieldset>

                        <p:outputPanel styleClass="action-buttons" column="2" id="invoiceAdjustmentActionPanel"
                                       rendered="#{not empty invoiceBean.getEntity().invoiceNumber}">
                            <p:button rendered="#{invoiceBean.showBtnNewIAAggregateds}" id="btnNewIAAggregateds" value="#{messages['invoice.adjustment.action.new.aggregated']}" outcome="invoiceAggregatedDetail">
                                <f:param name="linkedInvoiceIdParam" value="#{invoiceBean.getEntity().id}"/>
                                <f:param name="cid" value="#{javax.enterprise.context.conversation.id}"/>
                                <f:param name="edit" value="true"/>
                            </p:button>

                            <p:button rendered="#{invoiceBean.showBtnNewIADetailed}" id="btnNewIADetailed" value="#{messages['invoice.adjustment.action.new.detailed']}" outcome="detailedInvoiceDetail">
                                <f:param name="linkedInvoiceIdParam" value="#{invoiceBean.getEntity().id}"/>
                                <f:param name="cid" value="#{javax.enterprise.context.conversation.id}"/>
                                <f:param name="edit" value="true"/>
                            </p:button>
                        </p:outputPanel>
                    </p:tab>
                    <hftl:customFields backingBean="#{invoiceBean}" messagesId=":headerForm:messages" edit="true"/>
                </p:tabView>

                <hf:formButtons killConversationOnSave="false" killConversationOnBack="false" ajaxSubmit="true" backingBean="#{invoiceBean}" showBackButton="true"
                                showEnableDisableButton="false" showDeleteButton="false"
                                showEditButton="false">
                    <p:commandButton value="#{messages['action.save']}" icon="ui-icon-check" action="#{invoiceBean.saveOrUpdate(false)}" update="@form"/>
                </hf:formButtons>

            </hftl:formPanel>
        </p:panel>
    </ui:define>

</ui:composition>
