<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://jboss.org/seam/faces" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags">

    <p:outputPanel id="oneShotPanel">
        <hftl:formPanel formId="form3" backingBean="#{subscriptionBean}" showFormButtons="false" edit="false">
            <hftl:formField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:formField label="#{messages['serviceInstance.status']}" field="status" />
            <hftl:formField label="#{messages['serviceInstance.statusDate']}" field="statusDate" />
            <hftl:formField id="offerSelectId" label="#{messages['subscription.offer']}" field="offer" valueLabelField="code" />
            <hftl:formField label="#{messages['billingAccount.subscriptionDate']}" field="subscriptionDate" />
            <hftl:formField label="#{messages[subscriptionBean.entity.status=='SUSPENDED'?'billingAccount.suspensionDate': 'billingAccount.terminationDate']}" field="terminationDate" />
        </hftl:formPanel>

        <p:outputPanel id="oneShotDataPanel">
            <h:form id="OS_oneShot_results_form" prependId="false">
                <p:dataTable resizableColumns="true" value="#{subscriptionBean.oneShotChargeInstances}" var="entity">
                    <hftl:column label="#{messages['chargeInstance.code']}" field="code" />
                    <hftl:column label="#{messages['chargeInstance.description']}" field="description" />
                    <hftl:column label="#{messages['chargeApplication.status']}" field="status" width="7%"/>
                    <hftl:column label="#{messages['oneShotChargeInstance.chargeDate']}" field="chargeDate" isDate="true" width="12%"/>
                    <hftl:column label="#{messages['serviceInstance.quantity']}" field="quantity" />
                    <hftl:column label="#{messages['oneShotChargeInstance.amountWithoutTaxShort']}" field="amountWithoutTax" isMessage="false" rendered="#{appProvider.entreprise}"/>
                    <p:column headerText="#{messages['oneShotChargeInstance.amountWithTaxShort']}" rendered="#{!appProvider.entreprise}">
                        <h:outputText value="#{entity.amountWithTax}" converter="#{getConverter.forType(entity.amountWithTax,'4digits')}" />
                    </p:column>

                    <p:column styleClass="actions-column" width="55">
                        <f:facet name="header">
                            <h:outputText value="#{messages['commons.actions']}" />
                        </f:facet>
                        <p:commandButton id="editOneShotChgInsLink" action="#{subscriptionBean.editOneShotChargeIns(entity)}" rendered="#{subscriptionBean.canUserUpdateEntity()}"
                            update=":subscriptionTab:oneShotChgDiv" icon="ui-icon-document">
                            <f:setPropertyActionListener value="true" target="#{subscriptionBean.showApplyOneShotForm}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:outputPanel>

        <h:form>
            <p:commandButton value="#{messages['subscription.oneShotChgButton']}" actionListener="#{subscriptionBean.newOneShotChargeInstance}" rendered="#{subscriptionBean.canUserUpdateEntity()}"
                update=":subscriptionTab:oneShotChgDiv">
                <f:setPropertyActionListener value="true" target="#{subscriptionBean.showApplyOneShotForm}" />
            </p:commandButton>
        </h:form>

        <h:panelGroup id="oneShotChgDiv">

            <hftl:entityPopup id="oneShotChargeTmpPopup" header="#{messages['oneShotChargeTmp.popup.header']}" backingBean="#{oneShotChargeTemplateBean}"
                dataModel="#{oneShotChargeTemplateBean.otherTypeCharges}" searchField1Label="#{messages['chargeTemplate.code']}" searchField1="code"
                searchField2Label="#{messages['chargeTemplate.description']}" searchField2="description" column1Label="#{messages['chargeTemplate.description']}" column1="code"
                column2Label="#{messages['chargeTemplate.description']}" column2="description" selection="#{subscriptionBean.oneShotChargeInstance.chargeTemplate}"
                updateField=":#{p:component('chargeTemplateSelectId_text')} :subscriptionTab:oneShotChgForm1 :#{p:component('chargeWalletSelectId_selectLink')}">
            </hftl:entityPopup>

            <hftl:entityPopup id="popupWalletTemplates" header="#{messages['oneShotChargeTmp.popup.header']}" backingBean="#{walletTemplateBean}" lazy="false"
                dataModel="#{subscriptionBean.findWalletTemplatesForOneShot()}" searchField1Label="#{messages['BusinessEntity.code']}" searchField1="code"
                searchField2Label="#{messages['BusinessEntity.description']}" searchField2="description" column1Label="#{messages['BusinessEntity.code']}" column1="code"
                column2Label="#{messages['BusinessEntity.description']}" column2="description" selection="#{subscriptionBean.selectedWalletTemplate}"
                updateField=":#{p:component('chargeWalletSelectId_text')}">
            </hftl:entityPopup>

            <hftl:formPanel edit="#{subscriptionBean.oneShotChargeInstance.isTransient()}" backingBean="#{subscriptionBean}" entity="#{subscriptionBean.oneShotChargeInstance}" formId="oneShotChgForm1"
                showFormButtons="false" ajaxSubmit="true" showMessages="false" label="#{messages['subscription.oneShotChgDetails']}" rendered="#{subscriptionBean.showApplyOneShotForm}">

                <h:panelGroup id="chargeTemplateSelectId">
                    <hftl:formField label="#{messages['businessEntity.code']}" field="code" required="true"
                        rendered="#{!subscriptionBean.oneShotChargeInstance.transient}" />

                    <hftl:decorateFormField fieldId="chargeTemplateSelectId_text" label="#{messages['businessEntity.code']}" rendered="#{subscriptionBean.oneShotChargeInstance.transient}">
                        <p:inputText id="chargeTemplateSelectId_text" required="true" value="#{subscriptionBean.oneShotChargeInstance.chargeTemplate.code}" disabled="true" />
                        <p:commandButton id="chargeTemplateSelectId_selectLink" onclick="PF('dlg_oneShotChargeTmpPopup').show()" icon="ui-icon-search" type="button" />
                    </hftl:decorateFormField>
                </h:panelGroup>
                <hftl:formField label="#{messages['businessEntity.description']}" field="description" />
                <hftl:formField label="#{messages['oneShotChargeInstance.chargeDate']}" required="true" field="chargeDate" />
                <h:panelGroup id="chargeWalletSelectId">
                    <h:panelGroup layout="block" styleClass="formFieldGroup" style="width: 25%;" rendered="#{subscriptionBean.oneShotChargeInstance.transient}">
                        <p:outputLabel for="chargeWalletSelectId_text" value="#{messages['menu.wallet']}" />
                        <h:panelGroup layout="block" styleClass="formFieldItem2Lines" style="width: 100%;">
                            <p:inputText id="chargeWalletSelectId_text" required="false" value="#{subscriptionBean.selectedWalletTemplateCode}" />
                            <p:commandButton id="chargeWalletSelectId_selectLink" onclick="PF('dlg_popupWalletTemplates').show()"
                                icon="ui-icon-search" type="button" />
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
                <hftl:formField label="#{messages['chargeInstance.prepaidWallets']}" field="prepaidWalletInstances" listType="pickUpList" valueLabelField="descriptionAndCode" edit="false" rendered="#{!subscriptionBean.oneShotChargeInstance.transient and subscriptionBean.oneShotChargeInstance.prepaid}" componentWidth="50" /> 
                
                <hftl:formField label="#{messages['oneShotChargeInstance.amountWithoutTax']}" field="amountWithoutTax"
                    rendered="#{subscriptionBean.oneShotChargeInstance.chargeTemplate.amountEditable and appProvider.entreprise}" converter="bigDecimalConverter" />

                <hftl:decorateFormField fieldId="amountWithTax" label="#{messages['oneShotChargeInstance.amountWithTax']}"
                    rendered="#{subscriptionBean.oneShotChargeInstance.chargeTemplate.amountEditable and !appProvider.entreprise}">
                    <p:inputText id="amountWithTax" value="#{subscriptionBean.oneShotChargeInstance.amountWithTax}" size="5" converter="bigDecimalConverter"
                        disabled="#{!subscriptionBean.oneShotChargeInstance.chargeTemplate.amountEditable}">
                    </p:inputText>
                </hftl:decorateFormField>
                <hftl:formField label="#{messages['oneShotChargeInstance.criteria1']}" field="criteria1" newLine="true"/>
                <hftl:formField label="#{messages['oneShotChargeInstance.criteria2']}" field="criteria2" />
                <hftl:formField label="#{messages['oneShotChargeInstance.criteria3']}" field="criteria3" />

                <hftl:formField label="#{messages['serviceInstance.quantity']}" field="quantity" />


                <p:panel id="oneShotWalletOperationsPanel" rendered="#{subscriptionBean.oneShotChargeInstance.id!=null}">
                    <span style="height: 1px" />
                    <h:outputText value="#{messages['commons.noItems']}" rendered="#{empty subscriptionBean.oneShotWalletOperations}" />
                    <h:panelGroup rendered="#{not empty subscriptionBean.oneShotWalletOperations}">
<!--                         <hftl:decorateFormField label="#{messages['chargeApplication.applicationDate']}"> -->
<!--                             <h:outputText value="#{subscriptionBean.oneShotWalletOperations[0].operationDate}" styleClass="field-value"> -->
<!--                                 <f:convertDateTime pattern="#{paramBean.dateFormat}" /> -->
<!--                             </h:outputText> -->
<!--                         </hftl:decorateFormField> -->
<!--                         <hftl:decorateFormField label="#{messages['chargeApplication.description']}"> -->
<!--                             <h:outputText value="#{subscriptionBean.oneShotWalletOperations[0].description}" styleClass="field-value" /> -->
<!--                         </hftl:decorateFormField> -->
                        <hftl:decorateFormField label="#{messages['invoice.summary.totalAmountWithoutTax']}" rendered="#{appProvider.entreprise}">
                            <h:outputText value="#{subscriptionBean.oneShotWalletOperations[0].amountWithoutTax}" styleClass="field-value" converter="bigDecimal12DigitsConverter" />
                        </hftl:decorateFormField>
                        <hftl:decorateFormField rendered="#{!appProvider.entreprise}" label="#{messages['walletOperation.amountWithTax']}">
                            <h:outputText value="#{subscriptionBean.oneShotWalletOperations[0].amountWithTax}" styleClass="field-value" converter="bigDecimal12DigitsConverter" />
                        </hftl:decorateFormField>
                        <hftl:decorateFormField label="#{messages['chargeApplication.status']}">
                            <h:outputText value="#{subscriptionBean.oneShotWalletOperations[0].status}" styleClass="field-value" />
                        </hftl:decorateFormField>
                    </h:panelGroup>
                </p:panel>

                <ui:param name="buttons" value="true" />
                <ui:define name="buttons">
                    <p:commandButton action="#{subscriptionBean.saveOneShotChargeIns}" value="#{messages['action.save']}" update=":subscriptionTab:oneShotPanel"
                        rendered="#{subscriptionBean.canUserUpdateEntity() and subscriptionBean.oneShotChargeInstance.id==null}" />
                    <p:commandButton value="#{messages['action.cancel']}" update=":subscriptionTab:oneShotChgDiv" rendered="#{subscriptionBean.canUserUpdateEntity()}" immediate="true">
                        <f:setPropertyActionListener value="false" target="#{subscriptionBean.showApplyOneShotForm}" />
                    </p:commandButton>
                </ui:define>
            </hftl:formPanel>
        </h:panelGroup>
    </p:outputPanel>

</ui:composition>