<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" 
xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{billingAccountListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.customers']}" disabled="true" />
				<p:menuitem outcome="billingAccounts" value="#{messages['menu.billingAccounts']}" />
			</p:breadCrumb>
		</h:form>      

        <hftl:searchPanel label="#{messages['billingAccount.search']}" backingBean="#{billingAccountListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['billingAccount.status']}" field="status" />
            <hftl:searchField label="#{messages['billingAccount.subscriptionDate']}" field="subscriptionDate" />
            <hftl:searchField label="#{messages['billingAccount.nextInvoiceDate']}" field="nextInvoiceDate" />
            <hftl:searchField label="#{messages['billingAccount.terminationDate']}" field="terminationDate" />
            <hftl:searchField label="#{messages['billingAccount.electronicBilling']}" field="electronicBilling" />
            <hftl:searchField label="#{messages['tradingCountry.tradingCountry']}" field="tradingCountry" valueLabelField="descriptionOrCode" listBean="#{tradingCountryBean}" />
            <hftl:searchField label="#{messages['tradingLanguage.tradingLanguage']}" field="tradingLanguage" valueLabelField="prDescription" listBean="#{tradingLanguageBean}" />
            <hftl:searchField label="#{messages['billingAccount.taxCategory']}" field="taxCategory" valueLabelField="descriptionOrCode" listBean="#{taxCategoryBean}" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['billingAccount.title']}" backingBean="#{billingAccountListBean}" sortBy="code">
            <hftl:column label="#{messages['businessEntity.code']}" field="code" useCustomIdParam="true" />
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['billingAccount.name']}" field="name" />
            <hftl:column label="#{messages['commons.address']}" field="address.address1" />
            <hftl:column label="#{messages['billingAccount.nextInvoiceDate']}" field="nextInvoiceDate" isDate="true" />
            <hftl:column label="#{messages['billingAccount.subscriptionDate']}" field="subscriptionDate" isDate="true" /> 
            <hftl:column label="#{messages['billingAccount.status']}" field="status.label" isMessage="true" />

            <hftl:actionsColumn useCustomIdParam="true" permission="#{currentUser.hasRole('billingManagement')}" />
        </hftl:dataList>

    </ui:define>

</ui:composition>
