<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	
	xmlns:hftl="http://hftl.org"
	xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
	xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{customerBean.preRenderView}" />
			<f:viewParam name="customerId" value="#{customerBean.objectId}" />			
            <f:viewParam name="tab" value="#{customerBean.activeTab}"/>
		</f:metadata>
	</ui:define>


	<ui:define name="body">
		<hftl:entityPopup id="billingAccountPopup"
						  header="#{messages['billingAccount.popup.header']}"
						  backingBean="#{billingAccountBean}"
						  searchField1Label="#{messages['billingAccount.code']}"
						  searchField1="code"
						  column1Label="#{messages['billingAccount.code']}"
						  column1="code"
						  selection="#{customerBean.entity.minimumTargetAccount}"
						  updateField=":formCustomer:tabView:minimumTargetAccount :formCustomer:tabView:minimumTargetAccount_text">
		</hftl:entityPopup>
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.customers']}" disabled="true" />
                <p:menuitem value="#{messages['menu.customers']}" outcome="customers" />
                <p:menuitem value="#{messages['menu.customers.newCustomer']}"  disabled="true" rendered="#{customerBean.entity.transient}" />
                <p:menuitem value="#{messages['menu.customers.customer.configuration']} - #{customerBean.entity.descriptionOrCode}" disabled="true" rendered="#{!customerBean.entity.transient}" />
            </p:breadCrumb>
        </h:form>
		
        <h:panelGroup styleClass="col2-set">
            <h:panelGroup styleClass="col1">
					<hf:hierarchyPanel
						treeBean="#{customerTreeBean}"
						entity="#{customerBean.entity}" />
            </h:panelGroup>
			<h:panelGroup styleClass="col2">
            		<hftl:formPanel formId="formCustomer"
						label="#{messages['customer.customerPanel']}"
						showFormButtons="true" backingBean="#{customerBean}"
						useCustomIdParam="true">
						<p:tabView id="tabView" activeIndex="#{customerBean.activeTab}">
							<p:tab title="#{messages['customer.tab.account']}" id="tab0">
								
                            <hftl:formField id="code" label="#{messages['businessEntity.code']}"
										field="code" validateUnique="true" required="true" displayOneLine="true" componentWidth="50"/>

							<hftl:formField label="#{messages['businessEntity.description']}"
								field="description" useConverter="false" id="description"
								newLine="true" />
							<hftl:formField label="#{messages['customer.externalRef1']}"
								field="externalRef1" validateUnique="false" />
							<hftl:formField label="#{messages['customer.externalRef2']}"
								field="externalRef2" />							

							<hftl:formField newLine="true" label="#{messages['name.title']}" field="name" childField="title" valueLabelField="descriptionI18n" valueLabelField2="descriptionNotNull"
							 	required="false" listBean="#{titleBean}" listenerUpdate=":formCustomer:tabView:userNamePanel" styleClass="clearLeft"/>

									<h:panelGroup id="userNamePanel" layout="block">
										<hftl:formField
												label="#{messages[(customerBean.entity.name.title != null and customerBean.entity.name.title.isCompany)?'name.company':'name.lastName']}"
												field="name" childField="lastName"
												required="#{customerBean.entity.name.title != null}"/>
										<hftl:formField label="#{messages['name.firstName']}"
														field="name" childField="firstName"
														rendered="#{customerBean.entity.name.title == null or !customerBean.entity.name.title.isCompany}"/>
									</h:panelGroup>


							<hftl:formField label="#{messages['customer.jobTitle']}"
								field="jobTitle" newLine="true" />
							<hftl:formField label="#{messages['customer.vatNo']}" field="vatNo" />
							<hftl:formField label="#{messages['customer.registrationNo']}" field="registrationNo" />

									<hftl:formField
										label="#{messages['customer.customerCategory']}"
										field="customerCategory" valueLabelField="descriptionOrCode"
										required="true"
										listBean="#{customerCategoryBean}" styleClass="clearLeft"/>
								<hftl:formField
										label="#{messages['customer.customerBrand']}"
										field="customerBrand" valueLabelField="descriptionOrCode"
										listBean="#{customerBrandBean}"/>
								<hftl:formField id="parentSelectId"
												label="#{messages['seller.parent']}" field="seller"
												valueLabelField="descriptionOrCode" listBean="#{sellerBean}"
												listenerUpdate="@this"/>
								<hftl:formField label="#{messages['userAccount.minimumLabelEl']}" field="minimumLabelEl"
												id="minimumLabelEl" textArea="true" rows="1" maxlength="2000"
												componentWidth="50" newLine="true"/>
								<hftl:formField
										label="#{messages[appProvider.entreprise?'userAccount.minimumAmountWithoutTaxEl':'userAccount.minimumAmountWithTaxEl']}"
										field="minimumAmountEl" id="minimumAmountEl" textArea="true" rows="1"
										maxlength="2000" componentWidth="50" />
								<hftl:formField label="#{messages['account.minimumLabelElSpark']}"
												field="minimumLabelElSpark" id="minimumLabelElSpark" textArea="true"
												rows="1"
												maxlength="2000" componentWidth="50" newLine="true" rendered="#{paramBean.sparkEnabled}"/>
								<hftl:formField
										label="#{messages[appProvider.entreprise?'account.minimumAmountWithoutTaxElSpark':'account.minimumAmountWithTaxElSpark']}"
										field="minimumAmountElSpark" id="minimumAmountElSpark" textArea="true"
										rows="1" maxlength="2000" componentWidth="50" rendered="#{paramBean.sparkEnabled}"/>
								<hftl:formField id="minimumTargetAccount"
												label="#{messages['customerAccount.minimumTargetAccount']}"
												field="minimumTargetAccount" valueLabelField="code"
												popup="true" popupId="billingAccountPopup" allowEdit="true"
												componentWidth="20"/>
								<hftl:formField label="#{messages['account.minimumChargeTemplate']}"
												id="chargeTemplateId" field="minimumChargeTemplate"
												valueLabelField="code" listBean="#{oneShotChargeTemplateBean}"
												listElements="#{oneShotChargeTemplateBean.getOtherOneShotCharges()}"
												componentWidth="20"/>

								<hftl:formField
										label="#{messages['account.invoicingThreshold']}"
										field="invoicingThreshold" required="false" size="20" listenerUpdate="checkThresholdId"/>

								<hftl:formField label="#{messages['account.checkThreshold']}" field="checkThreshold" id="checkThresholdId"
												noSelectionLabel="false" disabled="false" required="#{not empty customerBean.entity.invoicingThreshold}"/>


							</p:tab>




						<p:tab title="#{messages['customer.tab.information']}" id="tab1">
							<p:fieldset legend="#{messages['commons.contacts']}">
								<hftl:formField label="#{messages['contactInformation.email']}"
									field="contactInformation" childField="email" popup="false"
									required="false" id="email" validateEmail="true" />

								<hftl:formField label="#{messages['contactInformation.phone']}" maxlength="50"
									field="contactInformation" childField="phone" popup="false" />
								<hftl:formField label="#{messages['contactInformation.mobile']}" maxlength="50"
									field="contactInformation" childField="mobile" popup="false" />
							</p:fieldset>
							<p:fieldset legend="#{messages['commons.address']}">
								<hftl:formField label="#{messages['address.address1']}"
									field="address" id="address1" childField="address1"
									popup="false" />
								<hftl:formField label="#{messages['address.address2']}"
												field="address" id="address2" childField="address2"
												popup="false"/>
								<hftl:formField label="#{messages['address.address3']}"
												field="address" id="address3" childField="address3"
												popup="false"/>
								<hftl:formField label="#{messages['address.zipCode']}"
												id="zipCode" field="address" childField="zipCode"
												popup="false" newLine="true"/>
								<hftl:formField label="#{messages['address.city']}" id="city"
												field="address" childField="city" popup="false"/>
								<hftl:formField label="#{messages['address.state']}" id="state" field="address" childField="state" popup="false"/>
								<hftl:formField id="countryPanel" label="#{messages['address.country']}" fkToEntity="false" field="address" childField="country"
												valueLabelField="description" listBean="#{countryBean}"/>
							</p:fieldset>
						</p:tab>
							<p:tab title="#{messages['counterPeriod.title']}" id="tab3" rendered="#{customerBean.entity.id!=null}">

								<hftl:formPanel formId="counterAccountInfo" backingBean="#{customerBean}" showFormButtons="false" edit="false" showMessages="false">
									<hftl:formField label="#{messages['businessEntity.code']}" field="code"/>
									<hftl:formField label="#{messages['businessEntity.description']}" field="description"/>
									<hftl:formField
											label="#{messages['customer.customerCategory']}"
											field="customerCategory" valueLabelField="descriptionOrCode"/>
									<hftl:formField
											label="#{messages['customer.customerBrand']}"
											field="customerBrand" valueLabelField="descriptionOrCode"/>
								</hftl:formPanel>


								<hftl:decorateFormField fieldId="counterPeriod" label="#{messages['counterInstance.title']}">
									<p:selectOneMenu id="counterPeriod" converter="omnifaces.SelectItemsConverter" value="#{customerBean.selectedCounterInstance}">
										<f:selectItem itemLabel="#{messages['commons.select']}"/>
										<f:selectItems value="#{customerBean.entity.counters}" var="item" itemLabel="#{item.code} - #{item.description}"/>
										<p:ajax event="valueChange" update="@form"/>
									</p:selectOneMenu>
								</hftl:decorateFormField>


								<p:dataTable id="datatable_counters" var="entity" lazy="true" paginator="true" resizableColumns="true" reflow="true"
											 value="#{counterPeriodBean.getCounterPeriods(customerBean.selectedCounterInstance)}" rows="10" rowKey="#{entity.id}"
											 styleClass="custom-grid" sortBy="#{entity.periodStartDate}" sortOrder="DESCENDING">

									<hftl:column label="#{messages['counterTemplate.counterType']}" field="counterType.label" isMessage="true"/>
									<hftl:column label="#{messages['counterPeriod.periodStartDate']}" field="periodStartDate" isDate="true"/>
									<hftl:column label="#{messages['counterPeriod.periodEndDate']}" field="periodEndDate" isDate="true"/>
									<hftl:column label="#{messages['counterPeriod.level']}" field="level" converterParam="4digits" wrapHeader="true"/>
									<hftl:column label="#{messages['counterPeriod.value']}" field="value" converterParam="4digits" wrapHeader="true"/>
									<hftl:column label="#{messages['counterPeriod.accumulatedValues']}" field="accumulatedValues" isMap="true"/>
								</p:dataTable>

							</p:tab>

							<hftl:customFields backingBean="#{customerBean}" messagesId=":formCustomer:messages"/>
							<!-- <hftl:displayWorkflowsHistory entity="#{customerBean.entity}" /> -->
							<hftl:displayGenericWFsHistory backingBean="#{customerBean}"/>
						</p:tabView>

						<ui:param name="buttons" value="true"/>
						<ui:define name="buttons">
							<h:panelGroup rendered="#{not empty customerBean.entity.id and customerBean.canUserUpdateEntity()}">
								<div class="action-buttons">
									<p:button outcome="addCustomerAccount" rendered="#{not empty customerBean.entity.id and customerBean.canUserUpdateEntity()}"
											  value="#{messages['customer.buttonAddCustomerAccount']}">
										<f:param name="cid" value="#{javax.enterprise.context.conversation.id}"/>
									</p:button>
									<p:commandButton ajax="false" rendered="#{!entity.transient}" value="#{messages['action.export']}"
													 action="#{customerBean.exportCustomerHierarchy()}"/>
									<p:commandButton action="#{customerBean.anonymizeGpdr()}" rendered="#{!entity.transient}" value="#{messages['action.anonymizeGDPR']}"
													 update="@(form)">
										<p:confirm header="#{messages['action.confirm']}" message="#{messages['confirmationMessage.confirmGDPRDelete']}" icon="ui-icon-alert"/>
									</p:commandButton>
								</div>
							</h:panelGroup>
	                    </ui:define>
                </hftl:formPanel>
            </h:panelGroup>
        </h:panelGroup>
	</ui:define>
</ui:composition>
