<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:hftl="http://hftl.org" xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/layout/template.xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" >

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{accountingWritingListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.finance']}" disabled="true" />
				<p:menuitem outcome="accountingWritings"
					value="#{messages['menu.accountingWriting']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['accountingWriting.search']}"  renderNewButton="false" 
					backingBean="#{accountingWritingListBean}" columns="3">
			<hftl:searchField label="#{messages['accountingWriting.writingDate']}"
				field="auditable.created" />
			<hftl:searchField label="#{messages['accountingWriting.eventType']}"
				field="eventType" />
			<hftl:searchField id="accountingCodeField" label="#{messages['accountingWriting.accountingCode']}" field="accountingCode" valueLabelField="code"
                listBean="#{accountingCodeBean}" />
            <hftl:searchField id="invoiceCategoryField" label="#{messages['accountingWriting.invoiceCategory']}" field="invoiceCategory" valueLabelField="code"
                listBean="#{invoiceCategoryBean}" />
            <!--  <hftl:searchField label="#{messages['accountingWriting.status']}" field="status" /> -->
		</hftl:searchPanel>

		<hftl:dataList backingBean="#{accountingWritingListBean}" sortBy="auditable.created">
			<hftl:column label="#{messages['accountingWriting.writingDate']}" field="auditable.created" isDate="true" />
			<hftl:column label="#{messages['accountingWriting.extraParam2']}" field="extraParam2" />
			<hftl:column label="#{messages['accountingWriting.eventType']}" field="eventType" />
			<hftl:column label="#{messages['accountingWriting.accountingCode']}" field="accountingCode.code" />
			<hftl:column label="#{messages['accountingWriting.invoiceCategory']}" field="invoiceCategory.code" />
			<hftl:column label="#{messages['accountingWriting.tax']}" field="tax.code" />
			<hftl:column label="#{messages['accountingWriting.amount']}" field="amount" converterParam="4digits" wrapHeader="true" />
			<p:column>
				<f:facet name="header">
					<h:outputText value="#{messages['accountingWriting.exportDate']}" />
				</f:facet>
				<h:outputText value="#{messages['accountingWriting.notExport']}" rendered="#{empty entity.exportDate}" />
				<h:outputText value="#{entity.exportDate}" rendered="#{not empty entity.exportDate}" >
                    <f:convertDateTime pattern="#{paramBean.dateFormat}" />
                </h:outputText>
			</p:column>
			<p:column headerText="#{messages['commons.actions']}" width="6%" >
				<f:facet name="header">
					<h:outputText value="#{messages['commons.actions']}" />
				</f:facet>
				<p:commandButton id="accountOperationListBtn" icon="ui-icon-document" 
							oncomplete="PF('accountOperationListDialog').show()" update="accountOperationListDialog"
							action="#{accountingWritingListBean.selectAccountingWriting(entity.id)}">
					<f:actionListener></f:actionListener>
                </p:commandButton>
			</p:column>
		</hftl:dataList>
		
		
		<p:dialog id="accountOperationListDialog" header="#{messages['accountingWriting.accountOperationList']}" modal="true"
					 closeOnEscape="true" widgetVar="accountOperationListDialog" width="85%" closable="true" appendTo="@(body)">
			<c:if test="#{not empty accountingWritingListBean.selectedAccountingWriting}">
				<hftl:dataList exportToXml="false" exportXlsxButton="false" resultsId="resultsAO"
					id="accountOperationList" rowsPerPage="50"
					label="#{messages['accountOperation.title']}"
					dataModel="#{accountingWritingListBean.getAccountOperations()}">

					<p:column width="5%">
						<f:facet name="header">
							<h:outputText value="#{messages['accountOperation.type']}" />
						</f:facet>
						<h:outputText value="#{entity.type}" />
					</p:column>

					<p:column width="8%">
						<f:facet name="header">
							<h:outputText value="#{messages['accountOperation.occCode']}" />
						</f:facet>
						<h:outputText value="#{entity.code}" />
					</p:column>

					<p:column width="14%">
						<f:facet name="header">
							<h:outputText
								value="#{messages['accountOperation.occDescription']}" />
						</f:facet>
						<h:outputText value="#{entity.description}" />
					</p:column>
					
					<p:column width="10%">
						<f:facet name="header">
							<h:outputText value="#{messages['accountOperation.customerAccount']}" />
						</f:facet>
						<h:link value="#{entity.customerAccount.code}" outcome="customerAccountDetail">
							<f:param name="customerAccountId" value="#{entity.customerAccount.id}" />
							<f:param name="edit" value="false" />
							<f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                      		<f:param name="backView" value="accountingWritings" />
						</h:link>
					</p:column>

					<p:column width="10%">
						<f:facet name="header">
							<h:outputText value="#{messages['invoice.invoiceNumber']}" />
						</f:facet>
						<p:repeat value="#{accountingWritingListBean.getInvoices(entity)}" var="invoice">
							<h:link value="#{invoice.invoiceNumber}" outcome="invoiceDetail">
								<f:param name="objectId" value="#{invoice.id}" />
								<f:param name="edit" value="false" />
								<f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                       			<f:param name="backView" value="accountingWritings" />
							</h:link>
						</p:repeat>
					</p:column>
					
					<hftl:column label="#{messages['accountOperation.transactionDate']}"
						field="transactionDate" isDate="true" width="11%" />
					
					<p:column headerText="#{messages['accountOperation.debit']}" width="10%">
						<h:outputText value="#{entity.amount}"
							rendered="#{entity.transactionCategory eq 'DEBIT'}">
							<f:converter converterId="bigDecimal4DigitsConverter" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{messages['accountOperation.credit']}" width="10%">
						<h:outputText value="#{entity.amount}"
							rendered="#{entity.transactionCategory eq 'CREDIT'}">
							<f:converter converterId="bigDecimal4DigitsConverter" />
						</h:outputText>
					</p:column>
					<hftl:column
						label="#{messages['accountOperation.unMatchingAmount']}"
						field="unMatchingAmount" converterParam="4digits" width="10%" />

					<hftl:column label="#{messages['accountOperation.matchingStatus']}"
						field="matchingStatus.label" isMessage="true" width="7%" />
					
					<p:column headerText="#{messages['commons.actions']}" width="5%">
						<!-- <p:tooltip for="aoEditlink"
				                   value="#{messages['commons.edit']}" showEffect="slide"
				                   hideEffect="slide"/> -->
				        <p:link id="aoEditlink" outcome="#{accountingWritingListBean.displayOperation(entity)}"
				                  icon="ui-icon-document" value="#{messages['accountingWriting.ao.detail']}">
				            <f:param name="objectId" value="#{entity.id}"/>
				            <f:param name="edit" value="false"/>
				            <f:param name="cid" value="#{javax.enterprise.context.conversation.id}"/>
				            <f:param name="backView" value="accountingWritings" />
				        </p:link>
			        </p:column>
				</hftl:dataList>
			</c:if>
		</p:dialog>
		
	</ui:define>

</ui:composition>
