<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{usageChargeTemplateBean.objectId}" />
            <f:viewParam name="objectId" value="#{chargeTemplateBean.objectId}" />
            <f:viewParam name="tab" value="#{usageChargeTemplateBean.activeTab}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">

        <!-- 		<hftl:entityPopup id="searchInvoiceSubCategoryPopup" -->
        <!-- 			header="#{messages['invoiceSubCategory.panel']}" -->
        <!-- 			backingBean="#{invoiceSubCategoryBean}" -->
        <!-- 			updateField=":usageChargeId:tabView:invoiceSubCategorySelectedId" -->
        <!-- 			selection="#{usageChargeTemplateBean.entity.invoiceSubCategory}" -->
        <!-- 			searchField1Label="#{messages['invoiceSubCategory.code']}" -->
        <!-- 			searchField1="code" -->
        <!-- 			searchField2Label="#{messages['invoiceSubCategory.description']}" -->
        <!-- 			searchField2="description" -->
        <!-- 			column1Label="#{messages['invoiceSubCategory.code']}" column1="code" -->
        <!-- 			column2Label="#{messages['invoiceSubCategory.description']}" -->
        <!-- 			column2="description"> -->
        <!-- 		</hftl:entityPopup> -->

        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
                <p:menuitem outcome="usageChargeTemplates" value="#{messages['menu.usageChargeTemplates']}" />
                <p:menuitem value="#{messages['commons.new']} #{messages['usageChargeTemplate']}" disabled="true" rendered="#{usageChargeTemplateBean.entity.transient}" />
                <p:menuitem value="#{messages['usageChargeTemplate']} #{messages['commons.configuration']} - #{usageChargeTemplateBean.entity.code}" disabled="true"
                    rendered="#{!usageChargeTemplateBean.entity.transient}" />
            </p:breadCrumb>
        </h:form>


        <hftl:entityPopup id="scriptPopup" header="#{messages['scriptInstance.popup.header']}" backingBean="#{scriptInstanceBean}"
            selection="#{usageChargeTemplateBean.entity.ratingScript}" searchField1Label="#{messages['businessEntity.code']}" searchField1="code"
            column1Label="#{messages['businessEntity.code']}" column1="code" column2Label="#{messages['businessEntity.description']}" column2="description"
            eventBackingBean="#{usageChargeTemplateBean}" updateField=":usageChargeId:tabView:ratingScriptSelectId :usageChargeId:tabView:ratingScriptSelectId_text">
        </hftl:entityPopup>

        <hftl:formPanel formId="usageChargeId" ajaxSubmit="true" submitPartialProcess=":usageChargeId:tabView" label="#{messages['usageChargeTemplate.title']}"
            backingBean="#{usageChargeTemplateBean}" showEnableDisableButton="true"
            updateConfirmationMessage="#{usageChargeTemplateBean.usedInSubscription ? messages['confirmationMessage.confirmUpdate'] : ''}">

            <p:tabView id="tabView" activeIndex="#{usageChargeTemplateBean.activeTab}">

                <p:tab title="#{messages['customer.tab.information']}">

                    <hftl:formField label="#{messages['chargeTemplate.code']}" field="code" required="true" validateUnique="true" componentWidth="25" />
                    <hftl:formLanguageFields field="description" componentWidth="50" newLine="false" />
                    <hftl:formField id="invoiceSubCategorySelectedId" label="#{messages['charge.subCategory']}" field="invoiceSubCategory" valueLabelField="code" required="true"
                        listBean="#{invoiceSubCategoryBean}" />
                    <!--                            popup="true" popupId="searchInvoiceSubCategoryPopup" /> -->
                    <hftl:formField label="#{messages['usageChargeTemplate.priority']}" field="priority" />



                    <hftl:formField label="#{messages['chargeTemplate.inputUnitOfMesure']}" field="inputUnitOfMeasure" valueLabelField="symbol" listBean="#{unitOfMeasureBean}"
                        newLine="true" />
                    <hftl:formField label="#{messages['chargeTemplate.ratingUnitOfMesure']}" field="ratingUnitOfMeasure" valueLabelField="symbol" listBean="#{unitOfMeasureBean}" />
                    <hftl:formField label="#{messages['chargeTemplate.unitMultiplicator']}" field="unitMultiplicator" converter="bigDecimal12DigitsConverter" />
                    <hftl:formField label="#{messages['chargeTemplate.unitNbDecimal']}" field="unitNbDecimal" />
                    <hftl:formField label="#{messages['chargeTemplate.inputUnitOfMesureEL']}" field="inputUnitEL" textArea="true" rows="1" maxlength="2000" componentWidth="25" />
                    <hftl:formField label="#{messages['chargeTemplate.ratingUnitOfMesureEL']}" field="outputUnitEL" textArea="true" rows="1" maxlength="2000" componentWidth="25" />
                    <hftl:formField label="#{messages['chargeTemplate.roundingMode']}" field="roundingMode" />
                    <hftl:formField label="#{messages['chargeTemplate.amountEditable']}" field="amountEditable" />

                    <hftl:formField label="#{messages['usageChargeTemplate.triggerNextCharge']}" field="triggerNextCharge" newLine="true" />
                    <hftl:formField label="#{messages['usageChargeTemplate.triggerNextCharge']} EL" field="triggerNextChargeEL" textArea="true" rows="1" maxlength="2000"
                        componentWitdth="25" />
                    <hftl:formField label="#{messages['chargeTemplate.dropZeroWo']}" field="dropZeroWo"/>
                    <hftl:formField label="#{messages['usageChargeTemplate.filterParam1']}" field="filterParam1" newLine="true" />
                    <hftl:formField label="#{messages['usageChargeTemplate.filterParam2']}" field="filterParam2" />
                    <hftl:formField label="#{messages['usageChargeTemplate.filterParam3']}" field="filterParam3" />
                    <hftl:formField label="#{messages['usageChargeTemplate.filterParam4']}" field="filterParam4" />


                    <hftl:formField id="ratingScriptSelectId" label="#{messages['chargeTemplate.ratingScript']}" field="ratingScript" valueLabelField="code" required="false"
                        popup="true" popupId="scriptPopup" showResetButton="true" newLine="true" />
                    <hftl:formField label="#{messages['chargeTemplate.taxClass']}" field="taxClass" valueLabelField="descriptionOrCode" listBean="#{taxClassBean}" />
                    <hftl:formField label="#{messages['chargeTemplate.taxClassEl']}" field="taxClassEl" textArea="true" rows="1" maxlength="2000" componentWidth="25" />
                    <hftl:formField label="#{messages['chargeTemplate.taxClassElSpark']}" field="taxClassElSpark" textArea="true" rows="1" maxlength="2000" componentWidth="25"
                        rendered="#{paramBean.sparkEnabled}" />

                    <hftl:formField label="#{messages['menu.triggeredEdrTemplates']}" field="edrTemplates" listType="pickUpList" valueLabelField="code"
                        dualListModel="#{usageChargeTemplateBean.edrTemplatesModel}" newLine="true" />

                    <hftl:formField label="#{messages['usageChargeTemplate.filterExpression']}" field="filterExpression" textArea="true" rows="1" maxlength="2000" />
                    <hftl:formField label="#{messages['usageChargeTemplate.filterExpressionSpark']}" field="filterExpressionSpark" textArea="true" rows="1" maxlength="2000"
                        rendered="#{paramBean.sparkEnabled}" />

                    <hftl:formField label="#{messages['enableEntity.disabled']}" doNotShowOnNew="true" allowEdit="false" field="disabled" isMessage="true" />
                    <hftl:formField label="#{messages['chargeTemplate.sortIndexEl']}" field="sortIndexEl" textArea="true" rows="1" maxlength="2000" componentWidth="25"/>
                </p:tab>

                <p:tab title="#{messages['pricePlanMatrix.panel']}" rendered="#{chargeTemplateBean.objectId!=null}">
                    <p:panel>
                        <hftl:decorateFormField fieldId="usageChargeCode" label="#{messages['pricePlanMatrix.eventCode']} :">
                            <h:outputText id="usageChargeCode" value="#{usageChargeTemplateBean.entity.code}" disabled="true" style="font-weight:bold;" />
                        </hftl:decorateFormField>

                        <hftl:decorateFormField fieldId="usageChargeDescription" label="#{messages['businessEntity.description']} :">
                            <h:outputText id="usageChargeDescription" value="#{usageChargeTemplateBean.entity.description}" disabled="true" style="font-weight:bold;" />
                        </hftl:decorateFormField>
                    </p:panel>
                    <ui:include src="/pages/catalog/pricePlanMatrixes/pricePlanMatrixList.xhtml" />
                </p:tab>

                <hftl:customFields backingBean="#{usageChargeTemplateBean}" messagesId=":usageChargeId:messages" />

            </p:tabView>

        </hftl:formPanel>

    </ui:define>

</ui:composition>