<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:o="http://omnifaces.org/ui"
	xmlns:p="http://primefaces.org/ui">
    
    <o:importFunctions type="org.meveo.commons.utils.ParamBean" var="paramBean" />

	<p:submenu id="admin" label="#{messages['menu.configuration']}"
		rendered="#{currentUser.hasRole('administrationVisualization') or currentUser.hasRole('catalogVisualization') or currentUser.hasRole('userVisualization')}">
		<p:menuitem id="provider" outcome="providerSelfDetail"
			value="#{messages['menu.appConfiguration']}"
			rendered="#{currentUser.hasRole('administrationManagement') or currentUser.hasRole('superAdminManagement')}" />
		<p:menuitem id="providerContacts" outcome="providerContacts"
			value="#{messages['menu.providerContacts']}" />
		<p:menuitem id="users" value="#{messages['menu.users']}"
			outcome="users"
			rendered="#{currentUser.hasRole('userVisualization')}" />
		<p:menuitem id="userRoles" value="#{messages['menu.userRoles']}"
			outcome="roles"
			rendered="#{currentUser.hasRole('administrationVisualization')}" />
		<p:menuitem id="userGroupHierarchy"
			value="#{messages['menu.userGroupHierarchy']}"
			outcome="userGroupHierarchy"
			rendered="#{currentUser.hasRole('administrationVisualization')}" />
		<p:menuitem id="sellers" outcome="sellers"
			value="#{messages['menu.sellers']}" />
		<p:submenu id="menu" label="#{messages['menu.crm']}">
			<p:menuitem id="titles" outcome="titles"
				value="#{messages['menu.titles']}" />
			<p:menuitem id="customerBrands" outcome="customerBrands"
				value="#{messages['menu.customerBrands']}" />
			<p:menuitem id="customerCategories" outcome="customerCategories"
				value="#{messages['menu.customerCategories']}" />
			<p:menuitem id="creditCategories" outcome="creditCategories"
				value="#{messages['menu.creditCategories']}" />
			<p:menuitem id="occTemplates"
				rendered="#{currentUser.hasRole('billingManagement')}"
				outcome="occTemplates" value="#{messages['menu.occTemplates']}" />
		</p:submenu>
		<p:submenu id="trading" label="#{messages['menu.trading']}"
			rendered="#{currentUser.hasRole('administrationVisualization') and !currentUser.hasRole('superAdminManagement')}">
			<p:menuitem id="tradingLanguages" outcome="tradingLanguages"
				value="#{messages['menu.comLanguages']}" />
			<p:menuitem id="tradingCurrencies" outcome="tradingCurrencies"
				value="#{messages['menu.tradingCurrencies']}" />
			<p:menuitem id="tradingCountries" outcome="tradingCountries"
				value="#{messages['menu.tradingCountries']}" />
			<p:menuitem id="multiLanguageFields" outcome="multiLanguageFields"
				value="#{messages['menu.multiLanguageFields']}" />
			<p:menuitem id="emailTemplates" outcome="emailTemplates"
				value="#{messages['menu.emailTemplates']}" />
		</p:submenu>
		<p:menuitem
			rendered="#{currentUser.hasRole('administrationVisualization')}"
			outcome="calendars" id="calendars"
			value="#{messages['menu.calendars']}" />
		<p:submenu id="invoicingconfig" label="#{messages['menu.invoicing']}">
			<p:menuitem id="billingCycles"
				rendered="#{currentUser.hasRole('billingVisualization')}"
				outcome="billingCycles" value="#{messages['menu.billingCycles']}" />
            <p:submenu id="taxes" label="#{messages['menu.taxes']}" rendered="#{currentUser.hasRole('administrationVisualization')}">
                <p:menuitem id="taxCategories" outcome="taxCategories" value="#{messages['menu.taxCategories']}" />
                <p:menuitem id="taxClasses" outcome="taxClasses" value="#{messages['menu.taxClasses']}" />
                <p:menuitem id="taxMapping" outcome="taxMappings" value="#{messages['menu.taxMappings']}" />
                <p:menuitem id="taxRates" outcome="taxes" value="#{messages['menu.taxRates']}" />
            </p:submenu>
			<p:menuitem id="invoiceCategories"
				rendered="#{currentUser.hasRole('catalogVisualization')}"
				outcome="invoiceCategories"
				value="#{messages['menu.invoiceCategories']}" />
			<p:menuitem id="invoiceSubCategories"
				rendered="#{currentUser.hasRole('catalogVisualization')}"
				outcome="invoiceSubCategories"
				value="#{messages['menu.invoiceSubCategories']}" />
			<p:menuitem id="invoiceTypes"
				rendered="#{currentUser.hasRole('billingVisualization')}"
				outcome="invoiceTypes" value="#{messages['menu.invoiceTypes']}" />
			<p:menuitem id="invoiceSequences"
				rendered="#{currentUser.hasRole('billingVisualization')}"
				outcome="invoiceSequences" value="#{messages['menu.invoiceSequences']}" />
		</p:submenu>
		<p:menuitem id="terminationReasons"
			rendered="#{currentUser.hasRole('administrationVisualization')}"
			outcome="terminationReasons"
			value="#{messages['menu.terminationReason']}" />
		<p:menuitem id="currencies"
			rendered="#{currentUser.hasRole('currencyManagement')}"
			outcome="currencies" value="#{messages['menu.currencies']}" />
		<p:menuitem id="languages"
			rendered="#{currentUser.hasRole('languageManagement')}"
			outcome="languages" value="#{messages['menu.languages']}" />
		<p:menuitem id="countries"
			rendered="#{currentUser.hasRole('countryManagement')}"
			outcome="countries" value="#{messages['menu.countries']}" />
		<p:menuitem id="meveoProperties"
			rendered="#{currentUser.hasRole('superAdminManagement')}"
			outcome="meveoProperties" value="#{messages['menu.properties']}" />
		<p:menuitem id="channels" outcome="channels"
			value="#{messages['menu.channels']}" />
		<p:menuitem id="unitOfMeasures" outcome="unitOfMeasures"
            value="#{messages['menu.unitOfMeasures']}" />
        <p:menuitem id="configurationIssues" outcome="configurationIssues"
            value="#{messages['menu.configurationIssues']}" />
	</p:submenu>
	<!-- Catalog -->
	<p:submenu id="catalog" label="#{messages['menu.catalog']}"
		rendered="#{currentUser.hasRole('catalogVisualization')}">
		<p:submenu id="offerManagement"
			label="#{messages['menu.catalog.offerManagement']}">
			<p:menuitem id="offerTemplates" outcome="offerTemplates"
				value="#{messages['menu.offers']}" />
			<p:menuitem id="offerTemplateCategories"
				outcome="offerTemplateCategories"
				value="#{messages['menu.offerTemplateCategories']}" />
		</p:submenu>
		<p:submenu id="serviceManagement"
			label="#{messages['menu.catalog.serviceManagement']}">
			<p:menuitem id="serviceTemplates" outcome="serviceTemplates"
				value="#{messages['menu.serviceTemplates']}" />
			<p:submenu id="charges" label="#{messages['menu.charges']}">
				<p:menuitem id="chargeTemplates" outcome="chargeTemplates"
					value="#{messages['menu.chargeTemplates']}" />
				<p:menuitem id="recurringChargeTemplate"
					outcome="recurringChargeTemplates"
					value="#{messages['menu.recurringChargeTemplates']}" />
				<p:menuitem id="oneShotChargeTemplates"
					outcome="oneShotChargeTemplates"
					value="#{messages['menu.oneShotChargeTemplates']}" />
				<p:menuitem id="usageChargeTemplates" outcome="usageChargeTemplates"
					value="#{messages['menu.usageChargeTemplates']}" />
			</p:submenu>
			<p:menuitem id="counterTemplates" outcome="counterTemplates"
				value="#{messages['menu.counterTemplates']}" />
		</p:submenu>
		<p:submenu id="productManagement"
			label="#{messages['menu.catalog.productManagement']}">
			<p:menuitem id="productTemplates" outcome="productTemplates"
				value="#{messages['menu.productTemplates']}" />
			<p:menuitem id="productChargeTemplates"
				outcome="productChargeTemplates"
				value="#{messages['menu.productChargeTemplates']}" />
			<p:menuitem id="bundleTemplates" outcome="bundleTemplates"
				value="#{messages['menu.bundleTemplates']}" />
		</p:submenu>
		<p:menuitem id="triggeredEdrTemplates" outcome="triggeredEdrTemplates"
			value="#{messages['menu.triggeredEdrTemplates']}" />
		<p:menuitem id="walletTemplates" outcome="walletTemplates"
			value="#{messages['menu.wallets']}" />
		<p:submenu id="models" label="#{messages['menu.catalog.models']}">
			<p:menuitem id="businessOfferModels" outcome="businessOfferModels"
				value="#{messages['menu.businessOffers']}" />
			<p:menuitem id="businessServiceModels"
				outcome="businessServiceModels"
				value="#{messages['menu.businessServiceModels']}" />
			<p:menuitem id="businessProductModels"
				outcome="businessProductModels"
				value="#{messages['menu.businessProductModels']}" />
		</p:submenu>
		<p:submenu id="pricePlanMatrixes_menu"
			label="#{messages['menu.pricePlanMatrixes']}">
			<p:menuitem id="pricePlanMatrixes" outcome="pricePlanMatrixes"
				value="#{messages['menu.pricePlanMatrixes']}" />
			<p:menuitem id="discountPlans" outcome="discountPlans"
				value="#{messages['menu.discountPlans']}" />
		</p:submenu>
	</p:submenu>

	<p:submenu styleClass="mmOffersSM" label="#{messages['menu.offers']}"
		rendered="#{currentUser.hasRole('marketingCatalogVisualization')  or currentUser.hasRole('marketingCatalogManager') }">
		<p:menuitem outcome="mm_offers"
			value="#{messages['menu.marketingManager.catalogList']}" />
	</p:submenu>

	<p:submenu styleClass="mmProductsSM"
		label="#{messages['menu.marketingManager.products']}"
		rendered="#{currentUser.hasRole('marketingCatalogVisualization')  or currentUser.hasRole('marketingCatalogManager') }">
		<p:menuitem id="mm_products" outcome="mm_products"
			value="#{messages['menu.marketingManager.productList']}" />
	</p:submenu>

	<p:submenu id="crm" label="#{messages['menu.crm']}"
		rendered="#{currentUser.hasRole('accountVisualization') or currentUser.hasRole('customerSummaryVisualization')}">
		<p:menuitem id="customerSearch"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="customerSearch" value="#{messages['menu.customerSearch']}" />
		<p:menuitem id="customers"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="customers" value="#{messages['menu.customers']}" />
		<p:menuitem id="customerAccounts"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="customerAccounts"
			value="#{messages['menu.customerAccounts']}" />
		<p:menuitem id="billingAccounts"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="billingAccounts" value="#{messages['menu.billingAccounts']}" />
		<p:menuitem id="userAccounts"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="userAccounts" value="#{messages['menu.userAccounts']}" />
		<p:menuitem id="crmAccounts"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="crmAccounts" value="#{messages['menu.crmAccounts']}" />
		<p:menuitem id="subscriptions"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="subscriptions" value="#{messages['menu.subscriptions']}" />
		<p:menuitem id="accessPoints"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="access" value="#{messages['menu.accessPoints']}" />
		<p:menuitem id="businessAccountModels"
			rendered="#{currentUser.hasRole('accountVisualization')}"
			outcome="businessAccountModels"
			value="#{messages['menu.businessAccountModels']}" />
	</p:submenu>

	<p:submenu id="orderAndQuotes"
		label="#{messages['menu.ordersAndQuotes']}"
		rendered="#{currentUser.hasRole('quoteVisualization') or currentUser.hasRole('quoteManagement') or currentUser.hasRole('orderVisualization') or currentUser.hasRole('orderManagement')}">
		<p:menuitem id="quotes" outcome="quotes"
			value="#{messages['menu.quotes']}"
			rendered="#{currentUser.hasRole('quoteVisualization') or currentUser.hasRole('quoteManagement')}" />
		<p:menuitem id="orders" outcome="orders"
			value="#{messages['menu.orders']}"
			rendered="#{currentUser.hasRole('orderVisualization') or currentUser.hasRole('orderManagement')}" />
	</p:submenu>

	<p:submenu styleClass="mmCustomersSM"
		label="#{messages['menu.customers']}"
		rendered="#{currentUser.hasRole('marketingCatalogVisualization')  or currentUser.hasRole('marketingCatalogManager') }">
		<p:menuitem id="mm_workflows"
			value="#{messages['menu.marketingManager.workflowList']}"
			outcome="mm_workflows" />
	</p:submenu>

	<p:submenu id="mediation" label="#{messages['menu.mediation']}"
		rendered="#{currentUser.hasRole('billingVisualization') or currentUser.hasRole('billingManagement')}">
		<p:menuitem id="edr" outcome="edr" value="#{messages['menu.edr']}" />
		<p:menuitem id="importedFiles" outcome="importedFiles"
			value="#{messages['menu.transferredFiles']}"
			rendered="#{currentUser.hasRole('billingManagement')}" />
	</p:submenu>
	
	<p:submenu id="invoicing" label="#{messages['menu.invoicing']}"
		rendered="#{currentUser.hasRole('billingVisualization') or currentUser.hasRole('billingManagement')  or currentUser.hasRole('createInvoice')}">
		<p:submenu id="rating" label="#{messages['menu.rating']}"
			rendered="#{currentUser.hasRole('billingVisualization')}">
			<p:menuitem id="walletOperations" outcome="walletOperations"
				value="#{messages['menu.walletOperations']}" />
		</p:submenu>
		<p:menuitem id="ratedTransactions" outcome="ratedTransactions"
			value="#{messages['menu.ratedTransactions']}"
			rendered="#{currentUser.hasRole('billingManagement') or currentUser.hasRole('billingVisualization')}" />
		<p:submenu id="billingRun" label="#{messages['menu.billingRun']}"
			rendered="#{currentUser.hasRole('billingManagement') or currentUser.hasRole('billingVisualization')}">
			<p:menuitem id="billingRuns" outcome="billingRuns"
				value="#{messages['menu.billingRuns']}" />
			<p:menuitem id="recurringInvoicing" outcome="recurringInvoicing"
				rendered="#{currentUser.hasRole('billingManagement')}"
				value="#{messages['menu.globalExecution']}" />
			<p:menuitem id="exceptionalInvoicing" outcome="exceptionelInvoicing"
				value="#{messages['menu.exceptionalInvoicing']}" />
		</p:submenu>
		<p:submenu id="invoice" label="#{messages['menu.invoice']}"
			rendered="#{currentUser.hasRole('billingManagement') or currentUser.hasRole('billingVisualization') or currentUser.hasRole('createInvoice')}">
			<p:menuitem id="invoices" outcome="invoices"
				value="#{messages['menu.invoices']}"
				rendered="#{currentUser.hasRole('billingManagement') or currentUser.hasRole('billingVisualization')}" />
			<p:menuitem id="aggregateInvoices" outcome="invoiceAggregatedDetail"
				value="#{messages['menu.invoice.createAggregated']}"
				rendered="#{currentUser.hasRole('createInvoice') }" />
			<p:menuitem id="detailedInvoices" outcome="detailedInvoiceDetail"
				value="#{messages['menu.invoice.createDetailed']}"
				rendered="#{currentUser.hasRole('createInvoice') }" />
		</p:submenu>
	</p:submenu>

	<p:submenu id="payment" label="#{messages['menu.Paiements']}"
		rendered="#{currentUser.hasRole('billingManagement') or currentUser.hasRole('billingVisualization')}">
		<p:submenu id="directDebit" label="#{messages['menu.payment.directDebit']}">
			<p:menuitem id="dDRequestBuilders" outcome="dDRequestBuilders"
						value="#{messages['menu.DDRequestBuilders']}" />
			<p:menuitem id="ddrequestLotOps" outcome="ddrequestLotOps"
						value="#{messages['menu.ddrequestLotOp']}" />
			<p:menuitem id="ddrequestLots" outcome="ddrequestLots"
						value="#{messages['menu.ddrequestLot']}" />
		</p:submenu>

		<p:menuitem id="paymentGateways" outcome="paymentGateways"
			value="#{messages['menu.paymentGateways']}" />


			<p:menuitem id="paymentScheduleTemplates" outcome="paymentScheduleTemplates"
			value="#{messages['menu.paymentSchedules']}" />


	</p:submenu>

	<!-- <p:submenu id="menurecouvrement" label="#{messages['menu.Recouvrement']}" rendered="#{currentUser.hasRole('billingManagement') or currentUser.hasRole('billingVisualization')}">
		<p:menuitem id="dunningWF" outcome="dunning_workflows" value="#{messages['dunningProcess.title']}" />
	</p:submenu> -->

	<p:submenu id="workflows" label="#{messages['menu.workflow']}" rendered="#{currentUser.hasRole('administrationVisualization')}">
		<p:menuitem id="genericWorkflows" value="#{messages['menu.generic.workflows']}"
			outcome="genericWorkflows" />
		<p:menuitem id="genericWfsHistory" value="#{messages['menu.generic.workflowHistory']}"
			outcome="genericWfsHistory" />
	</p:submenu>
	
	<p:submenu id="finance" label="#{messages['menu.finance']}" rendered="#{currentUser.hasRole('financeVisualization') or currentUser.hasRole('financeManagement') }">
		<p:menuitem id="chartOfAccounts" outcome="accountingCodes" value="#{messages['menu.chartOfAccounts']}" rendered="#{currentUser.hasRole('financeVisualization')}" />
		<p:menuitem id="generalLedgers" outcome="generalLedgers" value="#{messages['menu.generalLedgers']}" />
		<p:menuitem id="revenueRecognitionRules" outcome="revenueRecognitionRules" value="#{messages['menu.revenueRecognitionRules']}" />
		<p:menuitem id="revenueSchedules" outcome="revenueSchedules" value="#{messages['menu.revenueSchedules']}" />
		<p:menuitem id="reportExtracts" outcome="reportExtracts" value="#{messages['menu.reportExtracts']}" />
		<p:menuitem id="reportExtractHistories" outcome="reportExtractHistories" value="#{messages['menu.reportExtractHistories']}" />
		<p:menuitem id="accountingWritings" outcome="accountingWritings" value="#{messages['menu.accountingWriting']}"/>
	</p:submenu>

	<p:submenu id="reporting" label="#{messages['menu.reporting']}"
		rendered="#{currentUser.hasRole('reportingVisualization')}">
		<p:menuitem id="measurableQuantities"
			value="#{messages['menu.measurableQuantities']}"
			outcome="measurableQuantities" />
		<p:menuitem id="measuredValues"
			value="#{messages['menu.measuredValues']}"
			outcome="measuredValueDetail" />
		<p:menuitem id="charts" value="#{messages['menu.charts']}"
			outcome="charts" />
	</p:submenu>

    <p:submenu id="customEntites"
		label="#{messages['menu.customEntities']}"
		rendered="#{!empty(customEntityTemplateBean.listSortedByName()) and currentUser.hasRole('administrationVisualization')}">
		<c:set var="cetIndex" value="0" />
		<c:forEach items="#{customEntityTemplateBean.listSortedByName()}" var="cet">
			<c:if
				test="#{currentUser.hasRole(cet.readPermission) || currentUser.hasRole('ReadAllCE')}">
				<p:menuitem id="cet_#{cetIndex}" outcome="#{cet.storeAsTable?'customTables':'customEntities'}" value="#{cet.name}">
					<f:param name="cet" value="#{cet.code}" disable="#{cet.storeAsTable}"/>
                    <f:param name="objectId" value="#{cet.id}" disable="#{!cet.storeAsTable}"/>
				</p:menuitem>
				<c:set var="cetIndex" value="#{cetIndex + 1}" />
			</c:if>
		</c:forEach>
	</p:submenu>

	<p:submenu label="#{messages['menu.myCompany']}"
		rendered="#{currentUser.hasRole('marketingCatalogVisualization')  or currentUser.hasRole('marketingCatalogManager') }">
		<p:menuitem id="mm_users" value="#{messages['menu.users']}"
			outcome="users" />
		<p:menuitem id="mmUserGroups" outcome="userGroupHierarchy"
			value="#{messages['menu.userGroupHierarchy']}" />
	</p:submenu>

	<p:submenu styleClass="mmSettingsSM" id="settings"
		label="#{messages['menu.settings']}"
		rendered="#{currentUser.hasRole('marketingCatalogVisualization')  or currentUser.hasRole('marketingCatalogManager') }">
		<p:menuitem id="mmOfferCategories"
			outcome="mm_offerTemplateCategories"
			value="#{messages['menu.marketingManager.manageCategories']}" />
	</p:submenu>

	<p:submenu id="automation" label="#{messages['menu.admin']}"
		rendered="#{currentUser.hasRole('superAdminManagement') || currentUser.hasRole('administrationVisualization')}">
		<p:submenu id="adminJobs" label="#{messages['menu.jobs']}">
			<p:menuitem id="jobs" outcome="jobInstances"
				value="#{messages['menu.jobInstances']}" />
			<p:menuitem id="timers" outcome="timerEntities"
				value="#{messages['menu.timerEntities']}" />
		</p:submenu>
		<p:menuitem id="MeveoInstances" outcome="meveoInstances"
			value="#{messages['menu.meveoInstance']}" />
		<p:menuitem id="meveoModules" outcome="meveoModules"
			value="#{messages['menu.meveoModules']}" />
		<p:menuitem id="customizedEntities" outcome="customizedEntities"
			value="#{messages['menu.customizedEntities']}" />
			
		<p:submenu id="script" label="#{messages['menu.script']}">
			<p:menuitem id="scriptInstanceCategories" outcome="scriptInstanceCategories" value="#{messages['menu.scriptInstanceCategory']}" />
			<p:menuitem id="scriptInstances" outcome="scriptInstances" value="#{messages['menu.scriptInstances']}" />
		</p:submenu>
			
		<p:menuitem id="filters" outcome="filters" value="#{messages['menu.filters']}" />
		<!-- <p:submenu id="workflows" label="#{messages['menu.workflow']}">
			<p:submenu id="generic_workflow" label="#{messages['menu.generic.workflow']}">
				<p:menuitem id="genericWorkflows" value="#{messages['menu.generic.workflows']}"
					outcome="genericWorkflows" />
				<p:menuitem id="genericWfsHistory" value="#{messages['menu.generic.workflowHistory']}"
					outcome="genericWfsHistory" />
			</p:submenu>
			<p:menuitem id="crud_workflows" value="#{messages['menu.workflow']}"
				outcome="workflows" />
			<p:menuitem id="workflowHistory"
				value="#{messages['menu.workflowHistory']}"
				outcome="workflowHistory" />
		</p:submenu> -->
		<p:submenu id="notifications"
			label="#{messages['menu.notifications']}" outcome="notifications">
			<p:menuitem id="internalNotifications"
				value="#{messages['menu.notifications']}" outcome="notifications" />
			<p:menuitem id="webHooks" value="#{messages['menu.webHooks']}"
				outcome="webHooks" />
			<p:menuitem id="emailNotifications"
				value="#{messages['menu.emailNotifications']}"
				outcome="emailNotifications" />
			<p:menuitem id="jobTriggers" value="#{messages['menu.jobTriggers']}"
				outcome="jobTriggers" />
			<p:menuitem id="notificationHistory"
				value="#{messages['menu.notificationHistories']}"
				outcome="notificationHistories" />
			<p:menuitem id="inboundRequests"
				value="#{messages['menu.inboundRequests']}"
				outcome="inboundRequests" />
		</p:submenu>
		<p:submenu id="tools" label="#{messages['menu.tools']}"
			rendered="#{currentUser.hasRole('superAdminManagement') || currentUser.hasRole('administrationVisualization')}">
			<p:menuitem id="import" outcome="import"
				rendered="#{currentUser.hasRole('superAdminManagement') || currentUser.hasRole('administrationManagement')}"
				value="#{messages['menu.import']}" />
			<p:menuitem id="export" outcome="export"
				value="#{messages['menu.export']}" />
		</p:submenu>
		<p:menuitem id="fileExplorerMenu"
			rendered="#{currentUser.hasRole('administrationVisualization')}"
			outcome="fileExplorer" value="#{messages['menu.fileExplorer']}" />
		<p:submenu id="auditLogSubMenu" label="#{messages['menu.auditLog']}"
			rendered="#{currentUser.hasRole('administrationVisualization')}">
			<p:menuitem id="auditConfiguration" outcome="auditConfiguration"
				value="#{messages['menu.auditConfiguration']}" />
			<p:menuitem id="auditLog" outcome="auditLog"
				value="#{messages['menu.auditLogs']}" />
		</p:submenu>
		<p:menuitem id="cache"
			rendered="#{currentUser.hasRole('administrationVisualization')}"
			outcome="caches" value="#{messages['menu.cacheInfo']}" />
        <p:submenu id="index" label="#{messages['menu.fullTextSearch']}"
            rendered="#{currentUser.hasRole('superAdminManagement') || currentUser.hasRole('administrationManagement') || currentUser.hasRole('administrationVisualization')}">
            <p:menuitem id="ESSearch" rendered="#{currentUser.hasRole('administrationVisualization')}" outcome="fullTextSearch" value="#{messages['menu.fullTextSearch.search']}" />
            <p:menuitem id="reindexES" rendered="#{currentUser.hasRole('superAdminManagement') || currentUser.hasRole('administrationManagement')}" outcome="indexing" value="#{messages['menu.fullTextSearch.index']}" />
        </p:submenu>            
            
        <p:menuitem id="providers" outcome="providers"
            value="#{messages['menu.tenants']}"
            rendered="#{currentUser.hasRole('superAdminManagement') and currentUser.providerCode==null and paramBean.isMultitenancyEnabled()}" />            
	</p:submenu>

</ui:composition>