<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{recurringChargeTemplateBean.objectId}" />
            <f:viewParam name="objectId" value="#{chargeTemplateBean.objectId}" />
            <f:viewParam name="tab" value="#{recurringChargeTemplateBean.activeTab}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">

        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
                <p:menuitem outcome="recurringChargeTemplates" value="#{messages['menu.recurringChargeTemplates']}" />
                <p:menuitem value="#{messages['commons.new']} #{messages['recurringChargeTemplate']}" disabled="true" rendered="#{recurringChargeTemplateBean.entity.transient}" />
                <p:menuitem value="#{messages['recurringChargeTemplate']} #{messages['commons.configuration']} - #{recurringChargeTemplateBean.entity.code}" disabled="true"
                    rendered="#{!recurringChargeTemplateBean.entity.transient}" />
            </p:breadCrumb>
        </h:form>


        <hftl:entityPopup id="scriptPopup" header="#{messages['scriptInstance.popup.header']}" backingBean="#{scriptInstanceBean}"
            selection="#{recurringChargeTemplateBean.entity.ratingScript}" searchField1Label="#{messages['businessEntity.code']}" searchField1="code"
            column1Label="#{messages['businessEntity.code']}" column1="code" column2Label="#{messages['businessEntity.description']}" column2="description"
            eventBackingBean="#{recurringChargeTemplateBean}" updateField=":reccuringChargeId:tabView:ratingScriptSelectId :reccuringChargeId:tabView:ratingScriptSelectId_text">
        </hftl:entityPopup>

        <hftl:formPanel formId="reccuringChargeId" ajaxSubmit="true" submitPartialProcess=":reccuringChargeId:tabView"
            label="#{messages['recurringChargeTemplate.chargeTemplatePanel']}" backingBean="#{recurringChargeTemplateBean}" showEnableDisableButton="true"
            updateConfirmationMessage="#{recurringChargeTemplateBean.usedInSubscription ? messages['confirmationMessage.confirmUpdate'] : ''}">

            <p:tabView id="tabView" activeIndex="#{recurringChargeTemplateBean.activeTab}">

                <p:tab title="#{messages['customer.tab.information']}">

                    <hftl:formField label="#{messages['chargeTemplate.code']}" field="code" required="true" validateUnique="true" componentWidth="25" />
                    <hftl:formLanguageFields field="description" componentWidth="50" newLine="false" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.calendar']}" field="calendar" valueLabelField="code" required="true" popup="false"
                        listBean="#{calendarBean}" />
                    <hftl:formField id="invoiceSubCategorySelectedId" label="#{messages['charge.subCategory']}" field="invoiceSubCategory" valueLabelField="code" required="true"
                        listBean="#{invoiceSubCategoryBean}" />
                    <!--                            popup="true" popupId="searchInvoiceSubCategoryPopup" /> -->

                    <hftl:formField label="#{messages['recurringChargeTemplate.subscriptionProrata']}" field="subscriptionProrata" newLine="true" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.terminationProrata']}" field="terminationProrata" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.prorataOnPriceChange']}" field="prorataOnPriceChange" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.applyInAdvance']}" field="applyInAdvance" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.sharedLevel']}" field="shareLevel" />
                    <hftl:formField label="#{messages['chargeTemplate.dropZeroWo']}" field="dropZeroWo"/>
                    <hftl:formField id="revenueRecognitionRuleId" label="#{messages['charge.revenueRecognitionRule']}" field="revenueRecognitionRule" valueLabelField="code"
                        listBean="#{revenueRecognitionRuleBean}" />

                    <hftl:formField label="#{messages['recurringChargeTemplate.durationTermInMonth']}" field="durationTermInMonth" />

                    <hftl:formField label="#{messages['chargeTemplate.inputUnitOfMesure']}" field="inputUnitOfMeasure" valueLabelField="symbol" listBean="#{unitOfMeasureBean}"
                        newLine="true" />
                    <hftl:formField label="#{messages['chargeTemplate.ratingUnitOfMesure']}" field="ratingUnitOfMeasure" valueLabelField="symbol" listBean="#{unitOfMeasureBean}" />
                    <hftl:formField label="#{messages['chargeTemplate.unitMultiplicator']}" field="unitMultiplicator" converter="bigDecimal12DigitsConverter" />
                    <hftl:formField label="#{messages['chargeTemplate.unitNbDecimal']}" field="unitNbDecimal" />
                    <hftl:formField label="#{messages['chargeTemplate.inputUnitOfMesureEL']}" field="inputUnitEL" textArea="true" rows="1" maxlength="2000" componentWidth="25" />
                    <hftl:formField label="#{messages['chargeTemplate.ratingUnitOfMesureEL']}" field="outputUnitEL" textArea="true" rows="1" maxlength="2000" componentWidth="25" />
                    <hftl:formField label="#{messages['chargeTemplate.roundingMode']}" field="roundingMode" />
                    <hftl:formField label="#{messages['chargeTemplate.amountEditable']}" field="amountEditable" />

                    <hftl:formField id="ratingScriptSelectId" label="#{messages['chargeTemplate.ratingScript']}" field="ratingScript" valueLabelField="code" required="false"
                        popup="true" popupId="scriptPopup" showResetButton="true" newLine="true" />
                    <hftl:formField label="#{messages['chargeTemplate.taxClass']}" field="taxClass" valueLabelField="descriptionOrCode" listBean="#{taxClassBean}" />
                    <hftl:formField label="#{messages['chargeTemplate.taxClassEl']}" field="taxClassEl" textArea="true" rows="1" maxlength="2000" componentWidth="25" />
                    <hftl:formField label="#{messages['chargeTemplate.taxClassElSpark']}" field="taxClassElSpark" textArea="true" rows="1" maxlength="2000" componentWidth="25"
                        rendered="#{paramBean.sparkEnabled}" />

                    <hftl:formField label="#{messages['recurringChargeTemplate.filterExpression']}" field="filterExpression" textArea="true" rows="1" maxlength="2000"
                        newLine="true" />
                    <hftl:formField label="#{messages['usageChargeTemplate.filterExpressionSpark']}" field="filterExpressionSpark" textArea="true" rows="1" maxlength="2000"
                        rendered="#{paramBean.sparkEnabled}" />
                    <hftl:formField label="#{messages['chargeTemplate.sortIndexEl']}" field="sortIndexEl" textArea="true" rows="1" maxlength="2000" componentWidth="25"/>
                    <hftl:formField label="#{messages['menu.triggeredEdrTemplates']}" field="edrTemplates" listType="pickUpList" valueLabelField="code"
                        dualListModel="#{recurringChargeTemplateBean.edrTemplatesModel}" newLine="true" />

                    <hftl:formField label="#{messages['recurringChargeTemplate.subscriptionProrata']} EL" field="subscriptionProrataEl" textArea="true" rows="1" maxlength="2000" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.terminationProrata']} EL" field="terminationProrataEl" textArea="true" rows="1" maxlength="2000" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.applyInAdvance']} EL" field="applyInAdvanceEl" textArea="true" rows="1" maxlength="2000" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.durationTermInMonth']} EL" field="durationTermInMonthEl" textArea="true" rows="1" maxlength="2000" />
                    <hftl:formField label="#{messages['recurringChargeTemplate.calendar']} EL" field="calendarCodeEl" textArea="true" rows="1" maxlength="2000" />

                    <hftl:formField label="#{messages['enableEntity.disabled']}" doNotShowOnNew="true" allowEdit="false" field="disabled" isMessage="true" />

                </p:tab>

                <p:tab title="#{messages['pricePlanMatrix.panel']}" rendered="#{chargeTemplateBean.objectId!=null}">
                    <p:panel>
                        <hftl:decorateFormField fieldId="recurringChargeCode" label="#{messages['pricePlanMatrix.eventCode']} :">
                            <h:outputText id="recurringChargeCode" value="#{recurringChargeTemplateBean.entity.code}" disabled="true" style="font-weight:bold;" />
                        </hftl:decorateFormField>

                        <hftl:decorateFormField fieldId="recurringChargeDescription" label="#{messages['businessEntity.description']} :">
                            <h:outputText id="recurringChargeDescription" value="#{recurringChargeTemplateBean.entity.description}" disabled="true" style="font-weight:bold;" />
                        </hftl:decorateFormField>
                    </p:panel>
                    <ui:include src="/pages/catalog/pricePlanMatrixes/pricePlanMatrixList.xhtml" />
                </p:tab>

                <hftl:customFields backingBean="#{recurringChargeTemplateBean}" messagesId=":reccuringChargeId:messages" />

            </p:tabView>
        </hftl:formPanel>

    </ui:define>

</ui:composition>
